In [1]:
import numpy as np
import pandas as pd
import random
from datetime import datetime, timedelta
import sqlite3
import os

In [2]:
def generate_id(prefix, num):
    return f"{prefix}{num:03d}"

def random_string(length):
    letters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    return ''.join(random.choice(letters) for i in range(length))

def query_db(query, params=()):
    conn = sqlite3.connect('clash_royale.db')
    df = pd.read_sql_query(query, conn, params=params)
    conn.close()
    return df

In [106]:
escala = 10
# Para cada grau desta escala são criados
# 4 players, 10 battles, 20 battleplayers, 20 decks, 160 deckcards
# Refiro-me, em cada um dos casos acima, a entidades distintas.
# O número de cartas distintas criadas é sempre 20

# Generate players
players = [
    {
        "playerTag": generate_id("PL", i),
        "name": f"Player{i}",
        "expLevel": random.randint(1, 13),
        "trophies": random.randint(0, 6000),
        "bestTrophies": random.randint(0, 6000),
        "wins": random.randint(0, 5000),
        "losses": random.randint(0, 5000),
        "battleCount": random.randint(0, 10000),
        "threeCrownWins": random.randint(0, 1000),
        "challengeCardsWon": random.randint(0, 1000),
        "challengeMaxWins": random.randint(0, 12),
        "tournamentCardsWon": random.randint(0, 1000),
        "tournamentBattleCount": random.randint(0, 1000),
        "role": random.choice(["member", "elder", "co-leader", "leader"]),
        "donations": random.randint(0, 5000),
        "donationsReceived": random.randint(0, 5000),
        "totalDonations": random.randint(0, 10000),
        "warDayWins": random.randint(0, 100),
        "clanCardsCollected": random.randint(0, 10000)
    }
    for i in range(1, escala * 4 + 1)
]

# Generate cards
cards = [
    {
        "cardId": generate_id("C", i),
        "name": f"Card{i}",
        "maxLevel": random.randint(1, 13),
        "iconUrl": f"http://example.com/card{i}.png",
        "rarity": random.choice(["common", "rare", "epic", "legendary"])
    }
    for i in range(1, 21) # escala * 20 + 1
]

# Generate decks
decks = [
    {
        "deckId": generate_id("D", i)
    }
    for i in range(1, escala * 20 + 1)
]

# Generate deck cards ensuring each deck has 8 unique cards
deck_cards = []
for deck in decks:
#     card_ids = random.sample([card["cardId"] for card in cards], 8)
    card_ids = list(np.random.choice([card["cardId"] for card in cards], 8, replace=True))
    for card_id in card_ids:
        deck_cards.append({
            "deckCardId": generate_id("DC", len(deck_cards) + 1),
            "deckId": deck["deckId"],
            "cardId": card_id,
            "cardLevel": random.randint(1, 13)
        })

# Generate battles
# Não escolhe ainda o vencedor.
battles = [
    {
        "battleId": generate_id("B", i),
        "battleTime": datetime.now() - timedelta(days=random.randint(0, 365)),
        "gameMode": random.choice(["1v1", "2v2"]),
        "deckSelection": random.choice(["predefined", "custom"]),
#         "winner": random.choice([f"PL{j:03d}" for j in range(1, escala * 4 + 1)]),
        "trophyChange": random.randint(-30, 30),
        "crowns": random.randint(0, 3),
        "arena": random.choice(["Training Camp", "Goblin Stadium", "Bone Pit", "Barbarian Bowl"])
    }
    for i in range(1, escala * 10 + 1)
]

# Generate battle players ensuring each battle has 2 players
battle_players = []
for battle in battles:
    participantes = random.sample(players, 2)
    for i in range(2):
        player = participantes[i]
        deck = random.choice(decks)
        battle_players.append({
            "battlePlayerId": generate_id("BP", len(battle_players) + 1),
            "battleId": battle["battleId"],
            "playerTag": player["playerTag"],
            "startingTrophies": random.randint(0, 6000),
            "crownsEarned": random.randint(0, 3),
            "kingTowerHitPoints": random.randint(0, 5000),
            "princessTowerHitPoints": f"{random.randint(0, 5000)},{random.randint(0, 5000)}",
            "clanName": f"Clan{random.randint(1, 10)}",
            "clanTag": random_string(5),
            "deckId": deck["deckId"]
        })
    battle['winner'] = random.choice([battle_players[-1]['playerTag'], battle_players[-2]['playerTag']])

# Apenas para facilitar visualização dos dados sintéticos criados:
df_players = pd.DataFrame(players)
df_cards = pd.DataFrame(cards)
df_decks = pd.DataFrame(decks)
df_deck_cards = pd.DataFrame(deck_cards)
df_battles = pd.DataFrame(battles)
df_battle_players = pd.DataFrame(battle_players)

In [107]:
# Esta célula cria o arquivo clash_royale.db com os dados sintéticos criados

# Primeiramente, apaga o arquivo clash_royale.db, caso existente, para criar um novo
if os.path.exists('clash_royale.db'):
    # Apaga o arquivo
    os.remove('clash_royale.db')

# Cria a conexão com o banco de dados
conn = sqlite3.connect('clash_royale.db')
cursor = conn.cursor()

# Cria as tabelas
cursor.execute('''
CREATE TABLE IF NOT EXISTS players (
    playerTag TEXT PRIMARY KEY,
    name TEXT,
    expLevel INTEGER,
    trophies INTEGER,
    bestTrophies INTEGER,
    wins INTEGER,
    losses INTEGER,
    battleCount INTEGER,
    threeCrownWins INTEGER,
    challengeCardsWon INTEGER,
    challengeMaxWins INTEGER,
    tournamentCardsWon INTEGER,
    tournamentBattleCount INTEGER,
    role TEXT,
    donations INTEGER,
    donationsReceived INTEGER,
    totalDonations INTEGER,
    warDayWins INTEGER,
    clanCardsCollected INTEGER
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS cards (
    cardId TEXT PRIMARY KEY,
    name TEXT,
    maxLevel INTEGER,
    iconUrl TEXT,
    rarity TEXT
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS decks (
    deckId TEXT PRIMARY KEY
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS deck_cards (
    deckCardId TEXT PRIMARY KEY,
    deckId TEXT,
    cardId TEXT,
    cardLevel INTEGER,
    FOREIGN KEY(deckId) REFERENCES decks(deckId),
    FOREIGN KEY(cardId) REFERENCES cards(cardId)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS battles (
    battleId TEXT PRIMARY KEY,
    battleTime TEXT,
    gameMode TEXT,
    deckSelection TEXT,
    winner TEXT,
    trophyChange INTEGER,
    crowns INTEGER,
    arena TEXT
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS battle_players (
    battlePlayerId TEXT PRIMARY KEY,
    battleId TEXT,
    playerTag TEXT,
    startingTrophies INTEGER,
    crownsEarned INTEGER,
    kingTowerHitPoints INTEGER,
    princessTowerHitPoints TEXT,
    clanName TEXT,
    clanTag TEXT,
    deckId TEXT,
    FOREIGN KEY(battleId) REFERENCES battles(battleId),
    FOREIGN KEY(playerTag) REFERENCES players(playerTag),
    FOREIGN KEY(deckId) REFERENCES decks(deckId)
)
''')

# Insere os dados nas tabelas
for player in players:
    cursor.execute('''
    INSERT INTO players VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''', tuple(player.values()))

for card in cards:
    cursor.execute('''
    INSERT INTO cards VALUES (?, ?, ?, ?, ?)
    ''', tuple(card.values()))

for deck in decks:
    cursor.execute('''
    INSERT INTO decks VALUES (?)
    ''', (deck['deckId'],))

for deck_card in deck_cards:
    cursor.execute('''
    INSERT INTO deck_cards VALUES (?, ?, ?, ?)
    ''', tuple(deck_card.values()))

for battle in battles:
    cursor.execute('''
    INSERT INTO battles VALUES (?, ?, ?, ?, ?, ?, ?, ?)
    ''', (
        battle['battleId'],
        battle['battleTime'].isoformat(),
        battle['gameMode'],
        battle['deckSelection'],
        battle['winner'],
        battle['trophyChange'],
        battle['crowns'],
        battle['arena']
    ))

for battle_player in battle_players:
    cursor.execute('''
    INSERT INTO battle_players VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''', tuple(battle_player.values()))

# Salva (commit) as mudanças e fecha a conexão com o banco de dados
conn.commit()
conn.close()

In [5]:
################################
####### TESTE DE QUERY 1 #######
################################

# Reabre a conexão com o banco de dados
conn = sqlite3.connect('clash_royale.db')
cursor = conn.cursor()

# Executa a consulta SQL
query = '''
SELECT *
FROM battle_players bp
INNER JOIN decks d ON bp.deckId = d.deckId;
'''
cursor.execute(query)

# Obtém os resultados da consulta
results = cursor.fetchall()

# Imprime os resultados
for row in results:
    print(row)

# Fecha a conexão com o banco de dados
conn.close()

('BP001', 'B001', 'PL017', 3476, 3, 2873, '2593,2567', 'Clan2', 'XPAKH', 'D064', 'D064')
('BP002', 'B001', 'PL016', 2864, 0, 2754, '3590,1376', 'Clan4', 'BYSSX', 'D052', 'D052')
('BP003', 'B002', 'PL034', 4425, 3, 3528, '3742,234', 'Clan2', 'OIQGO', 'D182', 'D182')
('BP004', 'B002', 'PL022', 5829, 0, 4475, '1181,3084', 'Clan9', 'SVXUI', 'D143', 'D143')
('BP005', 'B003', 'PL004', 4803, 3, 3872, '4212,2715', 'Clan4', 'JRSTD', 'D147', 'D147')
('BP006', 'B003', 'PL001', 1292, 0, 4410, '1735,3953', 'Clan4', 'ESLMA', 'D008', 'D008')
('BP007', 'B004', 'PL017', 473, 1, 2490, '1038,1803', 'Clan4', 'JTJSQ', 'D157', 'D157')
('BP008', 'B004', 'PL024', 4269, 1, 4177, '4563,4666', 'Clan3', 'PYUUO', 'D007', 'D007')
('BP009', 'B005', 'PL029', 2954, 1, 993, '2386,4486', 'Clan4', 'UHYIU', 'D054', 'D054')
('BP010', 'B005', 'PL002', 1393, 1, 3396, '992,1456', 'Clan8', 'VSKDC', 'D128', 'D128')
('BP011', 'B006', 'PL001', 4081, 1, 1350, '4362,2148', 'Clan2', 'NCLKD', 'D006', 'D006')
('BP012', 'B006', 'PL009', 4186, 1, 4566, '527,1075', 'Clan2', 'ZDKKA', 'D026', 'D026')
('BP013', 'B007', 'PL023', 4019, 2, 1955, '3439,3032', 'Clan6', 'DKNFR', 'D044', 'D044')
('BP014', 'B007', 'PL028', 711, 1, 4399, '3615,2111', 'Clan8', 'TWNPY', 'D193', 'D193')
('BP015', 'B008', 'PL039', 1182, 1, 1245, '2198,4436', 'Clan1', 'CXURQ', 'D089', 'D089')
('BP016', 'B008', 'PL011', 365, 1, 376, '3450,2434', 'Clan1', 'DXMYF', 'D107', 'D107')
('BP017', 'B009', 'PL037', 2695, 1, 769, '2223,326', 'Clan2', 'LGUSA', 'D124', 'D124')
('BP018', 'B009', 'PL006', 2005, 1, 4361, '3739,53', 'Clan4', 'FAGXR', 'D027', 'D027')
('BP019', 'B010', 'PL031', 2818, 2, 1402, '3529,171', 'Clan10', 'QNTBH', 'D167', 'D167')
('BP020', 'B010', 'PL025', 1001, 0, 205, '3187,1163', 'Clan2', 'MVZVK', 'D198', 'D198')
('BP021', 'B011', 'PL035', 2452, 2, 100, '3905,1962', 'Clan7', 'IJLSM', 'D154', 'D154')
('BP022', 'B011', 'PL004', 2739, 0, 3925, '1286,4377', 'Clan2', 'QPTNQ', 'D089', 'D089')
('BP023', 'B012', 'PL026', 1945, 1, 3975, '2113,406', 'Clan8', 'ILXZW', 'D068', 'D068')
('BP024', 'B012', 'PL021', 2197, 1, 2358, '4586,1041', 'Clan1', 'KQFNX', 'D172', 'D172')
('BP025', 'B013', 'PL018', 4374, 2, 385, '631,4297', 'Clan6', 'LGETM', 'D001', 'D001')
('BP026', 'B013', 'PL030', 276, 1, 2273, '3599,3800', 'Clan7', 'CGBDO', 'D029', 'D029')
('BP027', 'B014', 'PL025', 1680, 1, 3187, '1892,3603', 'Clan5', 'KZBIS', 'D183', 'D183')
('BP028', 'B014', 'PL001', 1718, 2, 2363, '3641,4340', 'Clan2', 'KWBQL', 'D070', 'D070')
('BP029', 'B015', 'PL036', 707, 0, 3261, '2620,3490', 'Clan3', 'HCHME', 'D193', 'D193')
('BP030', 'B015', 'PL012', 80, 3, 4989, '2737,196', 'Clan10', 'ZTPNA', 'D062', 'D062')
('BP031', 'B016', 'PL006', 1781, 2, 1695, '2133,317', 'Clan3', 'QSOHW', 'D094', 'D094')
('BP032', 'B016', 'PL024', 1498, 1, 4281, '3416,3840', 'Clan4', 'PHLSP', 'D074', 'D074')
('BP033', 'B017', 'PL029', 1047, 3, 4149, '2619,4630', 'Clan2', 'WSDOS', 'D089', 'D089')
('BP034', 'B017', 'PL031', 1138, 3, 2288, '2277,306', 'Clan1', 'LRDXJ', 'D128', 'D128')
('BP035', 'B018', 'PL001', 3669, 3, 2074, '2961,1113', 'Clan1', 'LIBTT', 'D074', 'D074')
('BP036', 'B018', 'PL010', 294, 3, 1618, '4827,2097', 'Clan6', 'XTPAJ', 'D009', 'D009')
('BP037', 'B019', 'PL036', 3709, 1, 4329, '1139,4869', 'Clan10', 'QIMDI', 'D024', 'D024')
('BP038', 'B019', 'PL027', 5544, 3, 4493, '4515,1827', 'Clan5', 'HCIVF', 'D074', 'D074')
('BP039', 'B020', 'PL002', 4249, 0, 3020, '3325,4059', 'Clan8', 'SMIAX', 'D195', 'D195')
('BP040', 'B020', 'PL021', 3430, 0, 3445, '1462,1308', 'Clan7', 'ONAVO', 'D194', 'D194')
('BP041', 'B021', 'PL008', 3959, 1, 177, '4383,2543', 'Clan1', 'HNTTE', 'D174', 'D174')
('BP042', 'B021', 'PL012', 2381, 0, 2470, '4249,2953', 'Clan6', 'VBTHC', 'D114', 'D114')
('BP043', 'B022', 'PL009', 5082, 0, 3190, '221,3331', 'Clan10', 'THJVH', 'D052', 'D052')
('BP044', 'B022', 'PL015', 297, 3, 4258, '150,1051', 'Clan10', 'CKIRL', 'D136', 'D136')
('BP045', 'B023', 'PL033', 1294, 2, 581, '3325,510', 'Clan7', 'SAJBX', 'D138', 'D138')
('BP046', 'B023', 'PL024', 4983, 1, 3855, '2842,1107', 'Clan7', 'OMAQD', 'D100', 'D100')
('BP047', 'B024', 'PL017', 5043, 3, 3044, '1443,2019', 'Clan2', 'ZLSLV', 'D079', 'D079')
('BP048', 'B024', 'PL024', 3960, 3, 3316, '903,4948', 'Clan1', 'WJXSC', 'D057', 'D057')
('BP049', 'B025', 'PL038', 2843, 1, 3570, '4652,1887', 'Clan3', 'LVSRI', 'D109', 'D109')
('BP050', 'B025', 'PL001', 1368, 1, 308, '833,4116', 'Clan1', 'BWACA', 'D139', 'D139')
('BP051', 'B026', 'PL037', 5563, 1, 523, '300,3492', 'Clan5', 'YBUDQ', 'D064', 'D064')
('BP052', 'B026', 'PL012', 1462, 3, 1569, '953,3054', 'Clan7', 'KHZVR', 'D050', 'D050')
('BP053', 'B027', 'PL007', 5999, 0, 2656, '1234,4702', 'Clan5', 'TPDYK', 'D076', 'D076')
('BP054', 'B027', 'PL011', 2845, 3, 2541, '4194,3870', 'Clan1', 'ZEFXR', 'D176', 'D176')
('BP055', 'B028', 'PL028', 1978, 3, 2094, '3959,1015', 'Clan7', 'BKZYY', 'D153', 'D153')
('BP056', 'B028', 'PL030', 2070, 1, 1824, '109,1108', 'Clan9', 'OFJZH', 'D188', 'D188')
('BP057', 'B029', 'PL014', 5404, 3, 2831, '1602,4732', 'Clan1', 'BHJGV', 'D062', 'D062')
('BP058', 'B029', 'PL034', 1465, 3, 250, '3773,3334', 'Clan9', 'DKGFN', 'D198', 'D198')
('BP059', 'B030', 'PL003', 4942, 1, 2479, '3532,384', 'Clan9', 'CSGJT', 'D107', 'D107')
('BP060', 'B030', 'PL021', 5738, 0, 2556, '4583,2315', 'Clan10', 'GAMWV', 'D177', 'D177')
('BP061', 'B031', 'PL012', 4330, 0, 48, '3028,3884', 'Clan4', 'XCFKF', 'D046', 'D046')
('BP062', 'B031', 'PL021', 1184, 0, 4854, '3706,3678', 'Clan7', 'EWHIG', 'D009', 'D009')
('BP063', 'B032', 'PL014', 5708, 2, 4159, '1706,4252', 'Clan2', 'SXBKA', 'D078', 'D078')
('BP064', 'B032', 'PL021', 1927, 3, 4312, '4606,126', 'Clan5', 'JQARX', 'D095', 'D095')
('BP065', 'B033', 'PL029', 2, 0, 368, '4728,3258', 'Clan4', 'LTLBE', 'D146', 'D146')
('BP066', 'B033', 'PL017', 3330, 1, 629, '2117,2269', 'Clan9', 'JKLXY', 'D062', 'D062')
('BP067', 'B034', 'PL004', 2516, 0, 1883, '3312,4717', 'Clan1', 'ZMVII', 'D135', 'D135')
('BP068', 'B034', 'PL028', 711, 0, 3406, '1935,1723', 'Clan6', 'HRGLK', 'D071', 'D071')
('BP069', 'B035', 'PL009', 2216, 1, 4427, '2686,4608', 'Clan10', 'FHYWI', 'D038', 'D038')
('BP070', 'B035', 'PL025', 5581, 3, 4345, '4989,4776', 'Clan7', 'CPRNH', 'D143', 'D143')
('BP071', 'B036', 'PL027', 5994, 1, 4242, '1064,628', 'Clan3', 'EZZPQ', 'D200', 'D200')
('BP072', 'B036', 'PL012', 5103, 2, 395, '116,4241', 'Clan10', 'SVVXB', 'D077', 'D077')
('BP073', 'B037', 'PL032', 3678, 0, 2149, '3632,3206', 'Clan1', 'UQHTU', 'D002', 'D002')
('BP074', 'B037', 'PL015', 1758, 0, 2643, '4677,3195', 'Clan10', 'KGOXI', 'D051', 'D051')
('BP075', 'B038', 'PL018', 2759, 3, 2234, '13,2640', 'Clan1', 'EKDYW', 'D168', 'D168')
('BP076', 'B038', 'PL030', 5920, 2, 1115, '614,2751', 'Clan4', 'LFZBX', 'D146', 'D146')
('BP077', 'B039', 'PL030', 1886, 0, 4033, '3574,2633', 'Clan8', 'ZQIWP', 'D133', 'D133')
('BP078', 'B039', 'PL014', 2157, 1, 2078, '927,251', 'Clan3', 'EMGXZ', 'D140', 'D140')
('BP079', 'B040', 'PL021', 809, 3, 3051, '705,2624', 'Clan6', 'BRLUM', 'D027', 'D027')
('BP080', 'B040', 'PL017', 217, 2, 907, '103,2036', 'Clan9', 'XRVQH', 'D038', 'D038')
('BP081', 'B041', 'PL029', 140, 0, 4726, '1388,3687', 'Clan4', 'KPOTH', 'D099', 'D099')
('BP082', 'B041', 'PL011', 2496, 3, 4397, '3426,1978', 'Clan10', 'UIDUH', 'D180', 'D180')
('BP083', 'B042', 'PL035', 4134, 0, 1138, '4303,4631', 'Clan1', 'ELXZQ', 'D002', 'D002')
('BP084', 'B042', 'PL036', 2778, 3, 1478, '4679,4410', 'Clan9', 'LPUDY', 'D009', 'D009')
('BP085', 'B043', 'PL024', 2811, 1, 4407, '978,1761', 'Clan4', 'JUKFK', 'D150', 'D150')
('BP086', 'B043', 'PL004', 454, 0, 4954, '3761,4114', 'Clan3', 'KRTQV', 'D197', 'D197')
('BP087', 'B044', 'PL040', 1973, 0, 3105, '2347,2236', 'Clan6', 'SDRRV', 'D125', 'D125')
('BP088', 'B044', 'PL029', 1933, 0, 2443, '3204,3022', 'Clan10', 'PYYDY', 'D169', 'D169')
('BP089', 'B045', 'PL031', 3031, 0, 1746, '1175,546', 'Clan6', 'SZVBG', 'D052', 'D052')
('BP090', 'B045', 'PL012', 2819, 2, 79, '1386,4763', 'Clan4', 'ZRMQH', 'D154', 'D154')
('BP091', 'B046', 'PL024', 3057, 0, 3410, '4785,1988', 'Clan4', 'QPQNM', 'D147', 'D147')
('BP092', 'B046', 'PL036', 4040, 0, 2206, '3180,835', 'Clan7', 'VFHKZ', 'D094', 'D094')
('BP093', 'B047', 'PL029', 4745, 1, 4334, '2961,3209', 'Clan3', 'LOVKD', 'D095', 'D095')
('BP094', 'B047', 'PL028', 3556, 3, 1300, '4508,316', 'Clan6', 'WXBZA', 'D091', 'D091')
('BP095', 'B048', 'PL036', 130, 0, 3090, '1410,4858', 'Clan4', 'SCLKW', 'D119', 'D119')
('BP096', 'B048', 'PL013', 4309, 3, 246, '2797,4619', 'Clan10', 'AFPYX', 'D080', 'D080')
('BP097', 'B049', 'PL010', 1048, 1, 2663, '353,666', 'Clan1', 'NSNKI', 'D053', 'D053')
('BP098', 'B049', 'PL004', 476, 3, 2783, '4364,4731', 'Clan4', 'MZKTQ', 'D184', 'D184')
('BP099', 'B050', 'PL010', 2298, 3, 720, '1330,1760', 'Clan10', 'MWFRR', 'D067', 'D067')
('BP100', 'B050', 'PL028', 4709, 1, 3146, '3865,1774', 'Clan5', 'GSYTT', 'D074', 'D074')
('BP101', 'B051', 'PL040', 5671, 1, 1771, '2925,1607', 'Clan6', 'TRVWS', 'D187', 'D187')
('BP102', 'B051', 'PL033', 608, 1, 1819, '1533,514', 'Clan10', 'JNAHO', 'D071', 'D071')
('BP103', 'B052', 'PL001', 2469, 0, 789, '2795,4896', 'Clan6', 'YDGHZ', 'D194', 'D194')
('BP104', 'B052', 'PL040', 4258, 0, 762, '4765,790', 'Clan7', 'AHIGH', 'D033', 'D033')
('BP105', 'B053', 'PL040', 2926, 2, 3440, '2128,354', 'Clan1', 'DHXQP', 'D041', 'D041')
('BP106', 'B053', 'PL005', 4625, 2, 1204, '1159,1778', 'Clan1', 'BRFAI', 'D079', 'D079')
('BP107', 'B054', 'PL012', 254, 3, 1223, '1429,4934', 'Clan2', 'AFTXZ', 'D060', 'D060')
('BP108', 'B054', 'PL009', 2638, 1, 928, '4069,4236', 'Clan2', 'SQCOR', 'D071', 'D071')
('BP109', 'B055', 'PL015', 1245, 2, 858, '963,3123', 'Clan3', 'ECXWB', 'D200', 'D200')
('BP110', 'B055', 'PL034', 497, 0, 4151, '1048,3849', 'Clan9', 'UFAXI', 'D069', 'D069')
('BP111', 'B056', 'PL001', 3421, 2, 4216, '4168,1089', 'Clan3', 'IVAXB', 'D195', 'D195')
('BP112', 'B056', 'PL009', 1811, 1, 3734, '3996,3591', 'Clan2', 'FMPCH', 'D178', 'D178')
('BP113', 'B057', 'PL014', 1880, 0, 708, '1882,209', 'Clan8', 'VMGJL', 'D077', 'D077')
('BP114', 'B057', 'PL018', 901, 0, 1598, '2584,1269', 'Clan9', 'ULQHE', 'D055', 'D055')
('BP115', 'B058', 'PL025', 3468, 1, 3249, '4060,12', 'Clan3', 'REQLM', 'D010', 'D010')
('BP116', 'B058', 'PL007', 5730, 2, 3360, '1116,604', 'Clan4', 'UKDEZ', 'D007', 'D007')
('BP117', 'B059', 'PL002', 1038, 3, 1019, '4773,4065', 'Clan6', 'NVZTW', 'D058', 'D058')
('BP118', 'B059', 'PL040', 703, 3, 775, '4210,191', 'Clan5', 'YPNEK', 'D184', 'D184')
('BP119', 'B060', 'PL006', 1627, 2, 2342, '2039,351', 'Clan10', 'CGKLA', 'D085', 'D085')
('BP120', 'B060', 'PL036', 2350, 0, 3423, '509,4326', 'Clan7', 'LUJOU', 'D052', 'D052')
('BP121', 'B061', 'PL035', 3364, 2, 541, '2123,2769', 'Clan7', 'QRJFU', 'D196', 'D196')
('BP122', 'B061', 'PL029', 987, 2, 1017, '740,1058', 'Clan5', 'LQORW', 'D116', 'D116')
('BP123', 'B062', 'PL015', 382, 3, 4178, '1757,4432', 'Clan10', 'BPTBE', 'D022', 'D022')
('BP124', 'B062', 'PL001', 3704, 0, 2588, '427,1506', 'Clan3', 'SVMKC', 'D128', 'D128')
('BP125', 'B063', 'PL011', 207, 3, 1686, '3078,137', 'Clan4', 'SEBUI', 'D174', 'D174')
('BP126', 'B063', 'PL024', 1277, 3, 3764, '414,3147', 'Clan1', 'LDASH', 'D107', 'D107')
('BP127', 'B064', 'PL008', 2600, 2, 2585, '4730,941', 'Clan2', 'IVGQY', 'D096', 'D096')
('BP128', 'B064', 'PL009', 2930, 2, 4701, '2718,3151', 'Clan8', 'MFYQN', 'D191', 'D191')
('BP129', 'B065', 'PL015', 4183, 3, 1729, '695,4079', 'Clan1', 'YQHDI', 'D194', 'D194')
('BP130', 'B065', 'PL028', 5928, 1, 147, '148,3405', 'Clan8', 'FNMDG', 'D188', 'D188')
('BP131', 'B066', 'PL023', 876, 2, 937, '3204,1548', 'Clan1', 'MTNVN', 'D020', 'D020')
('BP132', 'B066', 'PL029', 872, 1, 1349, '3441,3941', 'Clan6', 'TWQFJ', 'D130', 'D130')
('BP133', 'B067', 'PL014', 2833, 3, 3671, '4694,4397', 'Clan9', 'ZJGCI', 'D041', 'D041')
('BP134', 'B067', 'PL031', 5614, 2, 4662, '4652,4322', 'Clan5', 'QSBBB', 'D147', 'D147')
('BP135', 'B068', 'PL024', 1651, 3, 3139, '327,4069', 'Clan1', 'ODOGF', 'D098', 'D098')
('BP136', 'B068', 'PL004', 665, 1, 425, '3138,319', 'Clan3', 'PWCNZ', 'D072', 'D072')
('BP137', 'B069', 'PL031', 1576, 0, 2488, '48,339', 'Clan4', 'CBZRY', 'D059', 'D059')
('BP138', 'B069', 'PL025', 454, 2, 1518, '3319,3816', 'Clan4', 'UDQPF', 'D173', 'D173')
('BP139', 'B070', 'PL029', 1097, 2, 120, '3873,1351', 'Clan5', 'COESQ', 'D056', 'D056')
('BP140', 'B070', 'PL017', 1502, 3, 3220, '2334,2325', 'Clan2', 'VFHPQ', 'D111', 'D111')
('BP141', 'B071', 'PL031', 3993, 2, 1005, '2996,885', 'Clan6', 'ECJOZ', 'D016', 'D016')
('BP142', 'B071', 'PL010', 3731, 0, 1128, '874,2054', 'Clan6', 'XXILE', 'D026', 'D026')
('BP143', 'B072', 'PL009', 3763, 0, 3516, '3850,74', 'Clan9', 'ABSLJ', 'D200', 'D200')
('BP144', 'B072', 'PL018', 1173, 0, 2066, '845,724', 'Clan5', 'POSOP', 'D192', 'D192')
('BP145', 'B073', 'PL039', 1774, 1, 4709, '1655,2787', 'Clan9', 'PBEWM', 'D105', 'D105')
('BP146', 'B073', 'PL030', 3659, 3, 2768, '1912,3058', 'Clan4', 'ECZTH', 'D029', 'D029')
('BP147', 'B074', 'PL002', 3345, 2, 784, '4016,196', 'Clan5', 'DNIAN', 'D082', 'D082')
('BP148', 'B074', 'PL013', 3067, 1, 4687, '4234,4674', 'Clan1', 'BBOZN', 'D165', 'D165')
('BP149', 'B075', 'PL007', 2042, 0, 3765, '4116,2379', 'Clan5', 'KBYEN', 'D063', 'D063')
('BP150', 'B075', 'PL036', 460, 3, 4280, '1011,508', 'Clan4', 'FNSMV', 'D137', 'D137')
('BP151', 'B076', 'PL004', 4877, 0, 4908, '4178,3053', 'Clan7', 'TZTTZ', 'D063', 'D063')
('BP152', 'B076', 'PL026', 3872, 2, 3086, '473,2556', 'Clan8', 'EKXZB', 'D159', 'D159')
('BP153', 'B077', 'PL037', 2827, 0, 4403, '3986,4223', 'Clan10', 'OBIME', 'D128', 'D128')
('BP154', 'B077', 'PL020', 4895, 0, 1003, '1014,1421', 'Clan3', 'BSCKP', 'D003', 'D003')
('BP155', 'B078', 'PL003', 4617, 3, 383, '2952,4010', 'Clan8', 'KAVGE', 'D097', 'D097')
('BP156', 'B078', 'PL029', 359, 2, 1584, '340,183', 'Clan3', 'MCAEX', 'D076', 'D076')
('BP157', 'B079', 'PL021', 399, 0, 4980, '1493,2412', 'Clan2', 'XBONB', 'D086', 'D086')
('BP158', 'B079', 'PL013', 2886, 0, 4003, '4535,4218', 'Clan6', 'STJZY', 'D123', 'D123')
('BP159', 'B080', 'PL010', 2671, 0, 3092, '2821,4861', 'Clan7', 'MJPTR', 'D053', 'D053')
('BP160', 'B080', 'PL003', 487, 3, 1157, '385,4596', 'Clan6', 'MVUQY', 'D154', 'D154')
('BP161', 'B081', 'PL001', 4217, 3, 2443, '3600,3637', 'Clan3', 'LFUHD', 'D128', 'D128')
('BP162', 'B081', 'PL015', 4097, 3, 4297, '4807,2797', 'Clan3', 'NNDXY', 'D082', 'D082')
('BP163', 'B082', 'PL016', 3701, 0, 614, '1795,3912', 'Clan8', 'ZFMAT', 'D075', 'D075')
('BP164', 'B082', 'PL020', 1315, 3, 1490, '3243,4548', 'Clan3', 'AOQYH', 'D132', 'D132')
('BP165', 'B083', 'PL015', 3121, 0, 3629, '1018,3403', 'Clan3', 'IDGHP', 'D151', 'D151')
('BP166', 'B083', 'PL031', 2116, 3, 3870, '3189,3239', 'Clan6', 'WFPHU', 'D131', 'D131')
('BP167', 'B084', 'PL011', 3253, 2, 687, '1443,424', 'Clan4', 'FFBGN', 'D072', 'D072')
('BP168', 'B084', 'PL011', 1870, 2, 2849, '4892,740', 'Clan8', 'IDMXK', 'D170', 'D170')
('BP169', 'B085', 'PL013', 4469, 2, 1717, '1829,1211', 'Clan8', 'LSFUL', 'D030', 'D030')
('BP170', 'B085', 'PL030', 4743, 0, 3127, '2672,959', 'Clan8', 'UCOMW', 'D088', 'D088')
('BP171', 'B086', 'PL003', 4308, 2, 4466, '1256,1861', 'Clan7', 'ISWXS', 'D147', 'D147')
('BP172', 'B086', 'PL033', 4813, 1, 2943, '1586,531', 'Clan4', 'KLACD', 'D188', 'D188')
('BP173', 'B087', 'PL008', 1252, 3, 274, '3382,1285', 'Clan9', 'QMRLP', 'D175', 'D175')
('BP174', 'B087', 'PL020', 4152, 2, 571, '4083,3229', 'Clan7', 'ZBWOL', 'D193', 'D193')
('BP175', 'B088', 'PL008', 1494, 1, 4721, '4671,2422', 'Clan3', 'EHHKQ', 'D195', 'D195')
('BP176', 'B088', 'PL020', 2406, 3, 2032, '4856,1954', 'Clan7', 'RQJDS', 'D038', 'D038')
('BP177', 'B089', 'PL016', 5905, 3, 2640, '1476,2665', 'Clan7', 'APLUO', 'D142', 'D142')
('BP178', 'B089', 'PL001', 2324, 2, 3191, '2113,3859', 'Clan6', 'RQLHY', 'D172', 'D172')
('BP179', 'B090', 'PL007', 4819, 1, 444, '2144,666', 'Clan4', 'PCVEA', 'D078', 'D078')
('BP180', 'B090', 'PL036', 2653, 1, 661, '3140,2078', 'Clan6', 'ABYID', 'D114', 'D114')
('BP181', 'B091', 'PL007', 7, 3, 4239, '1955,3762', 'Clan9', 'NEHOR', 'D176', 'D176')
('BP182', 'B091', 'PL010', 4200, 0, 4194, '3376,350', 'Clan2', 'KKDWP', 'D175', 'D175')
('BP183', 'B092', 'PL004', 5139, 2, 3123, '1481,100', 'Clan2', 'IJLDE', 'D062', 'D062')
('BP184', 'B092', 'PL026', 1469, 2, 1568, '4761,606', 'Clan5', 'JMMME', 'D170', 'D170')
('BP185', 'B093', 'PL006', 2838, 2, 2747, '3743,1603', 'Clan8', 'YCOUB', 'D053', 'D053')
('BP186', 'B093', 'PL038', 1801, 0, 1362, '4165,4335', 'Clan3', 'IDBSE', 'D113', 'D113')
('BP187', 'B094', 'PL027', 836, 1, 2860, '2915,776', 'Clan1', 'VXQGQ', 'D187', 'D187')
('BP188', 'B094', 'PL006', 3418, 0, 3955, '1797,4958', 'Clan5', 'KLOAP', 'D005', 'D005')
('BP189', 'B095', 'PL014', 3107, 2, 447, '4539,4332', 'Clan5', 'FBWUD', 'D050', 'D050')
('BP190', 'B095', 'PL036', 4828, 3, 330, '2663,3923', 'Clan5', 'JGDVJ', 'D159', 'D159')
('BP191', 'B096', 'PL027', 2987, 0, 3078, '3800,622', 'Clan10', 'RQOQM', 'D135', 'D135')
('BP192', 'B096', 'PL003', 3384, 2, 2488, '4331,3528', 'Clan1', 'WTMSW', 'D016', 'D016')
('BP193', 'B097', 'PL038', 4725, 0, 2213, '4834,39', 'Clan5', 'JWKVD', 'D105', 'D105')
('BP194', 'B097', 'PL015', 2744, 3, 2291, '679,3098', 'Clan8', 'EBGZM', 'D009', 'D009')
('BP195', 'B098', 'PL002', 2516, 2, 1524, '4988,2105', 'Clan3', 'NUIVV', 'D086', 'D086')
('BP196', 'B098', 'PL023', 4270, 1, 3881, '1134,1617', 'Clan8', 'AUOTH', 'D001', 'D001')
('BP197', 'B099', 'PL003', 1989, 2, 4937, '3752,2240', 'Clan7', 'ZLBXD', 'D176', 'D176')
('BP198', 'B099', 'PL010', 1096, 3, 320, '2950,4429', 'Clan9', 'IFXCH', 'D120', 'D120')
('BP199', 'B100', 'PL028', 4945, 1, 4389, '1076,1638', 'Clan9', 'MCVVP', 'D093', 'D093')
('BP200', 'B100', 'PL036', 2913, 1, 442, '375,2064', 'Clan7', 'XAVDF', 'D047', 'D047')

In [6]:
################################
####### TESTE DE QUERY 2 #######
################################

# Função para obter deck_cards associados a um battle_player específico
def get_deck_cards_for_battle_player(battlePlayerId):
    # Reabre a conexão com o banco de dados
    conn = sqlite3.connect('clash_royale.db')
    cursor = conn.cursor()

    # Consulta SQL
    query = '''
    SELECT dc.*
    FROM battle_players bp
    INNER JOIN decks d ON bp.deckId = d.deckId
    INNER JOIN deck_cards dc ON d.deckId = dc.deckId
    WHERE bp.battlePlayerId = ?;
    '''

    # Executa a consulta com o battlePlayerId especificado
    cursor.execute(query, (battlePlayerId,))
    results = cursor.fetchall()

    # Fecha a conexão com o banco de dados
    conn.close()

    return results

# Exemplo de uso da função
battlePlayerId = 'BP001'  # Substitua pelo battlePlayerId desejado
deck_cards = get_deck_cards_for_battle_player(battlePlayerId)

# Imprime os resultados
for deck_card in deck_cards:
    print(deck_card)

('DC505', 'D064', 'C008', 10)
('DC506', 'D064', 'C010', 10)
('DC507', 'D064', 'C002', 7)
('DC508', 'D064', 'C015', 13)
('DC509', 'D064', 'C015', 9)
('DC510', 'D064', 'C014', 5)
('DC511', 'D064', 'C017', 3)
('DC512', 'D064', 'C010', 5)

<h3>Tarefa 1: Calcular a porcentagem de vitórias e derrotas utilizando a carta X em um intervalo de timestamps</h3>

In [7]:
def win_loss_percentage_with_card(card_id, start_time, end_time):
    query = '''
    SELECT bp.playerTag, b.winner
    FROM battle_players bp
    INNER JOIN battles b ON bp.battleId = b.battleId
    INNER JOIN deck_cards dc ON bp.deckId = dc.deckId
    WHERE dc.cardId = ? AND b.battleTime BETWEEN ? AND ?
    '''
    df = query_db(query, (card_id, start_time, end_time))

    total_battles = len(df)
    if total_battles == 0:
        return {"win_percentage": 0, "loss_percentage": 0}

    wins = df[df['playerTag'] == df['winner']].shape[0]
    losses = total_battles - wins

    win_percentage = (wins / total_battles) * 100
    loss_percentage = (losses / total_battles) * 100

    return {"win_percentage": win_percentage, "loss_percentage": loss_percentage}

# Exemplo de uso:
card_id = 'C001'
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'
print(win_loss_percentage_with_card(card_id, start_time, end_time))

{'win_percentage': 50.54945054945055, 'loss_percentage': 49.45054945054945}

<h3>Tarefa 2: Listar os decks completos que produziram mais de X% de vitórias em um intervalo de timestamps</h3>

In [8]:
def decks_with_high_win_rate(win_rate_threshold, start_time, end_time):
    query = '''
    SELECT bp.deckId, COUNT(*) as total_battles,
           SUM(CASE WHEN bp.playerTag = b.winner THEN 1 ELSE 0 END) as wins
    FROM battle_players bp
    INNER JOIN battles b ON bp.battleId = b.battleId
    WHERE b.battleTime BETWEEN ? AND ?
    GROUP BY bp.deckId
    HAVING (wins * 1.0 / total_battles) * 100 > ?
    '''
    df = query_db(query, (start_time, end_time, win_rate_threshold))
    return df

# Exemplo de uso:
win_rate_threshold = 50  # decks com mais de 50% de vitórias
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'
print(decks_with_high_win_rate(win_rate_threshold, start_time, end_time))

   deckId  total_battles  wins
0    D001              2     2
1    D005              1     1
2    D010              1     1
3    D020              1     1
4    D022              1     1
5    D026              2     2
6    D038              3     2
7    D046              1     1
8    D047              1     1
9    D052              4     4
10   D054              1     1
11   D055              1     1
12   D057              1     1
13   D059              1     1
14   D067              1     1
15   D069              1     1
16   D070              1     1
17   D071              3     2
18   D074              4     3
19   D078              2     2
20   D080              1     1
21   D088              1     1
22   D091              1     1
23   D096              1     1
24   D097              1     1
25   D098              1     1
26   D100              1     1
27   D107              3     2
28   D109              1     1
29   D111              1     1
30   D124              1     1
31   D131              1     1
32   D132              1     1
33   D133              1     1
34   D135              2     2
35   D142              1     1
36   D153              1     1
37   D154              3     2
38   D157              1     1
39   D159              2     2
40   D165              1     1
41   D168              1     1
42   D169              1     1
43   D170              2     2
44   D176              3     2
45   D177              1     1
46   D180              1     1
47   D182              1     1
48   D184              2     2
49   D188              3     2
50   D193              3     3
51   D194              3     2
52   D196              1     1
53   D197              1     1
54   D200              3     2

<h3>Tarefa 3: Calcular a quantidade de derrotas utilizando um combo de cartas em um intervalo de timestamps</h3>

In [114]:
def losses_with_card_combo(card_ids, start_time, end_time):
    card_placeholders = ', '.join('?' for _ in card_ids)
    query = f'''
    SELECT bp.battleId, COUNT(DISTINCT dc.cardId) as card_count
    FROM battle_players bp
    INNER JOIN battles b ON bp.battleId = b.battleId
    INNER JOIN deck_cards dc ON bp.deckId = dc.deckId
    WHERE dc.cardId IN ({card_placeholders}) AND b.battleTime BETWEEN ? AND ?
    GROUP BY bp.battleId
    HAVING card_count = ?
    '''
    df = query_db(query, (*card_ids, start_time, end_time, len(card_ids)))

    total_battles = len(df)
    losses = total_battles - df[df['battleId'].isin(df['battleId'])].shape[0]

    return {"losses": losses}

# Exemplo de uso:
card_ids = ['C002', 'C003']
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'
print(losses_with_card_combo(card_ids, start_time, end_time))

{'losses': 0}

<h3>Tarefa 3 versão 2 - utilizando apenas Python, sem SQL</h3>

In [115]:
derrotas_do_combo = 0
vitorias_do_combo = 0
for batalha in df_battles[(df_battles['battleTime'] >= start_time) & (df_battles['battleTime'] <= end_time)]['battleId']:
    df_participantes = df_battle_players[df_battle_players['battleId']==batalha]
    vencedor = df_battles[df_battles['battleId']==batalha]['winner'].iloc[0]

    deque_perdedor = df_participantes.loc[df_participantes['playerTag'] != vencedor, 'deckId'].iloc[0]
#     deque_vencedor = df_participantes.loc[df_participantes['playerTag'] == vencedor, 'deckId'].iloc[0]
    cartas_perdedoras = df_deck_cards[df_deck_cards['deckId']==deque_perdedor]['cardId'].tolist()
#     cartas_vencedoras = df_deck_cards[df_deck_cards['deckId']==deque_vencedor]['cardId'].tolist()    
    if all([card in cartas_perdedoras for card in card_ids]):
        derrotas_do_combo+=1
#     if all([card in cartas_vencedoras for card in card_ids]):
#         vitorias_do_combo+=1
derrotas_do_combo

8

<h3>Tarefa 4: Calcular a quantidade de vitórias envolvendo a carta X onde o vencedor possui Z% menos troféus que o perdedor, a partida durou menos de 2 minutos, e o perdedor derrubou ao menos duas torres</h3>

In [10]:
def wins_with_card_under_conditions(card_id, trophy_diff_percentage, start_time, end_time):
    query = '''
    SELECT bp.battleId, bp.playerTag, bp.startingTrophies, b.winner, b.battleTime,
           (bp.kingTowerHitPoints + bp.princessTowerHitPoints) as totalHitPoints
    FROM battle_players bp
    INNER JOIN battles b ON bp.battleId = b.battleId
    INNER JOIN deck_cards dc ON bp.deckId = dc.deckId
    WHERE dc.cardId = ? AND b.battleTime BETWEEN ? AND ? AND totalHitPoints < 2
    '''
    df = query_db(query, (card_id, start_time, end_time))
    
    # Filtrando as condições adicionais
    filtered_df = df[(df['winner'] == df['playerTag']) & 
                     ((df['startingTrophies'] * (1 - trophy_diff_percentage / 100)) > df['startingTrophies']) & 
                     (pd.to_datetime(df['battleTime']) - pd.to_datetime(df['battleTime']) < pd.Timedelta(minutes=2))]
    
    wins = filtered_df.shape[0]
    
    return {"wins": wins}

# Exemplo de uso:
card_id = 'C001'
trophy_diff_percentage = 20
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'
print(wins_with_card_under_conditions(card_id, trophy_diff_percentage, start_time, end_time))

{'wins': 0}

<h3>Tarefa 5: Listar o combo de cartas de tamanho N que produziram mais de Y% de vitórias em um intervalo de timestamps</h3>

In [11]:
def card_combos_with_high_win_rate(combo_size, win_rate_threshold, start_time, end_time):
    query = f'''
    SELECT bp.deckId, dc.cardId, COUNT(*) as total_battles,
           SUM(CASE WHEN bp.playerTag = b.winner THEN 1 ELSE 0 END) as wins
    FROM battle_players bp
    INNER JOIN battles b ON bp.battleId = b.battleId
    INNER JOIN deck_cards dc ON bp.deckId = dc.deckId
    WHERE b.battleTime BETWEEN ? AND ?
    GROUP BY bp.deckId, dc.cardId
    HAVING COUNT(DISTINCT dc.cardId) = ? AND (wins * 1.0 / total_battles) * 100 > ?
    '''
    df = query_db(query, (start_time, end_time, combo_size, win_rate_threshold))
    return df

# Exemplo de uso:
combo_size = 2
win_rate_threshold = 50  # combos com mais de 50% de vitórias
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'
print(card_combos_with_high_win_rate(combo_size, win_rate_threshold, start_time, end_time))

Empty DataFrame
Columns: [deckId, cardId, total_battles, wins]
Index: []

<h3>Consultas adicionais I - Taxa de vitórias por raridade da carta</h3>
<p><i>Nesta consulta analisaremos o desempenho de cartas de diferentes raridades (comum, rara, épica, lendária) em todas as batalhas. A proposta é auxiliar a identificar se cartas de raridades específicas apresentam desempenho superior ou inferior.</i></p>

In [12]:
def win_rate_by_rarity():
    query = '''
    SELECT c.rarity, COUNT(*) as total_battles,
           SUM(CASE WHEN bp.playerTag = b.winner THEN 1 ELSE 0 END) as wins
    FROM cards c
    INNER JOIN deck_cards dc ON c.cardId = dc.cardId
    INNER JOIN battle_players bp ON dc.deckId = bp.deckId
    INNER JOIN battles b ON bp.battleId = b.battleId
    GROUP BY c.rarity
    '''
    df = query_db(query)
    
    df['win_rate'] = (df['wins'] / df['total_battles']) * 100
    return df

# Exemplo de uso:
print(win_rate_by_rarity())

      rarity  total_battles  wins   win_rate
0     common            423   212  50.118203
1       epic            267   136  50.936330
2  legendary            285   155  54.385965
3       rare            625   305  48.800000

<h3>Consultas adicionais II - Análise de diversidade de decks</h3>
<p><i>Nesta consulta examinaremos a variedade dos decks utilizados em partidas com alta taxa de troféus. A baixa diversidade de cartas no deck pode ser um indício de que certas combinações se tornam muito poderosas e precisam de equilíbrio.</i></p>

In [13]:
def deck_diversity(high_trophy_threshold):
    query = '''
    SELECT bp.deckId, COUNT(DISTINCT dc.cardId) as unique_cards
    FROM battle_players bp
    INNER JOIN deck_cards dc ON bp.deckId = dc.deckId
    INNER JOIN players p ON bp.playerTag = p.playerTag
    WHERE p.trophies > ?
    GROUP BY bp.deckId
    '''
    df = query_db(query, (high_trophy_threshold,))
    
    return df

# Exemplo de uso:
high_trophy_threshold = 5000  # Ajuste este valor conforme necessário
print(deck_diversity(high_trophy_threshold))

   deckId  unique_cards
0    D001             6
1    D005             8
2    D009             8
3    D026             6
4    D027             7
5    D038             7
6    D052             6
7    D053             7
8    D055             6
9    D071             7
10   D074             6
11   D085             5
12   D086             7
13   D094             7
14   D095             6
15   D135             5
16   D168             6
17   D172             7
18   D177             6
19   D178             7
20   D187             7
21   D191             7
22   D192             6
23   D194             6
24   D200             7

<h3>Consultas adicionais III - Taxa de uso do card vs taxa de vitórias</h3>
<p><i>Nesta consulta compararemos a frequência de uso de um card com sua taxa de ganho. Cards com altas taxas de utilização mas com baixas taxas de ganho podem ser consideradas mais fortes do que realmente são, enquanto cards com baixas taxas de utilização mas altas taxas de vitórias podem ser subvalorizados. </i></p>

In [14]:
def card_usage_vs_win_rate():
    query = '''
    SELECT c.cardId, c.name, c.rarity,
           COUNT(*) as usage_count,
           SUM(CASE WHEN bp.playerTag = b.winner THEN 1 ELSE 0 END) as wins
    FROM cards c
    INNER JOIN deck_cards dc ON c.cardId = dc.cardId
    INNER JOIN battle_players bp ON dc.deckId = bp.deckId
    INNER JOIN battles b ON bp.battleId = b.battleId
    GROUP BY c.cardId
    '''
    df = query_db(query)
    
    df['win_rate'] = (df['wins'] / df['usage_count']) * 100
    return df

# Exemplo de uso:
print(card_usage_vs_win_rate())

   cardId    name     rarity  usage_count  wins   win_rate
0    C001   Card1       epic           91    46  50.549451
1    C002   Card2       rare           78    35  44.871795
2    C003   Card3     common           88    51  57.954545
3    C004   Card4       rare           79    35  44.303797
4    C005   Card5       rare           71    31  43.661972
5    C006   Card6       rare           74    35  47.297297
6    C007   Card7       rare           66    33  50.000000
7    C008   Card8  legendary           91    44  48.351648
8    C009   Card9       rare           87    45  51.724138
9    C010  Card10       epic           68    30  44.117647
10   C011  Card11  legendary           62    35  56.451613
11   C012  Card12     common           89    41  46.067416
12   C013  Card13       rare           70    37  52.857143
13   C014  Card14       rare          100    54  54.000000
14   C015  Card15     common           95    47  49.473684
15   C016  Card16       epic          108    60  55.555556
16   C017  Card17     common           88    42  47.727273
17   C018  Card18  legendary           49    26  53.061224
18   C019  Card19  legendary           83    50  60.240964
19   C020  Card20     common           63    31  49.206349