In [1]:
import numpy as np
import pandas as pd
import random
from datetime import datetime, timedelta
import sqlite3
import os
from itertools import combinations
from datetime import datetime, timedelta

In [2]:
def generate_id(prefix, num):
    return f"{prefix}{num:03d}"

def random_string(length):
    letters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    return ''.join(random.choice(letters) for i in range(length))

def query_db(query, params=()):
    conn = sqlite3.connect('clash_royale.db')
    df = pd.read_sql_query(query, conn, params=params)
    conn.close()
    return df

def generate_random_battle_duration():
    # Gerar uma duração aleatória em segundos entre 0 e 5 minutos (0 a 300 segundos)
    duration_seconds = random.randint(0, 300)
    
    # Converter para um objeto timedelta
    duration = timedelta(seconds=duration_seconds)
    
    return duration

In [3]:
descricoes_para_cartas = [
    "O Dragão Infernal queima tudo em seu caminho com um raio de fogo concentrado, deixando apenas cinzas.",
    "O Mago de Gelo congela seus inimigos com uma rajada de frio ártico, desacelerando seus movimentos.",
    "O Cavaleiro Fantasma emerge das sombras para causar dano letal antes de desaparecer sem deixar rastros.",
    "A Bruxa Sombria convoca morcegos das trevas enquanto lança feitiços devastadores contra seus oponentes.",
    "O Golem de Pedra avança lentamente, mas explode em mini-golems quando derrotado, continuando a batalha.",
    "A Princesa atira flechas flamejantes de longa distância, atingindo inimigos antes que eles a vejam.",
    "O Barril de Esqueletos lança um exército de esqueletos direto na linha de frente inimiga.",
    "O P.E.K.K.A. é uma máquina de combate blindada com uma espada gigante que corta qualquer coisa em seu caminho.",
    "O Gigante Real lança pedras enormes de sua besta, derrubando torres com facilidade.",
    "Os Três Mosqueteiros são uma força formidável, disparando uma chuva de balas que pode derrubar qualquer exército.",
    "O Lenhador enlouquecido derruba inimigos com seu machado, deixando uma poça de fúria ao ser derrotado.",
    "A Bandida desliza pelo campo de batalha, desferindo golpes críticos em suas vítimas antes de desaparecer.",
    "O Arqueiro Mágico dispara flechas que perfuram inimigos, atingindo vários alvos com um único tiro.",
    "O Mineiro cavouca subterraneamente para surgir onde menos se espera, causando dano diretamente às torres inimigas.",
    "O Mega Cavaleiro salta de inimigo em inimigo, esmagando-os com seu peso brutal.",
    "O Balão Esqueleto voa sobre as defesas, soltando bombas mortais diretamente nas torres adversárias.",
    "A Lava Hound libera uma enxurrada de lava-pups quando abatido, continuando o ataque aéreo.",
    "O Sparky carrega uma explosão elétrica devastadora, obliterando qualquer coisa que cruze seu caminho.",
    "Os Guardas Reais protegem suas torres com escudos robustos e lanças afiadas, enfrentando qualquer ameaça.",
    "O Mega Servo é uma criatura voadora blindada que ataca com garras afiadas, ideal para combates aéreos."
]

In [4]:
escala = 10
# Para cada grau desta escala são criados
# 4 players, 10 battles, 20 battleplayers, 20 decks, 160 deckcards
# Refiro-me, em cada um dos casos acima, a entidades distintas.
# O número de cartas distintas criadas é sempre 20

# Generate players
players = [
    {
        "playerTag": generate_id("PL", i),
        "name": f"Player{i}",
        "expLevel": random.randint(1, 13),
        "trophies": random.randint(0, 6000),
        "bestTrophies": random.randint(0, 6000),
        "wins": random.randint(0, 5000),
        "losses": random.randint(0, 5000),
        "battleCount": random.randint(0, 10000),
        "threeCrownWins": random.randint(0, 1000),
        "challengeCardsWon": random.randint(0, 1000),
        "challengeMaxWins": random.randint(0, 12),
        "tournamentCardsWon": random.randint(0, 1000),
        "tournamentBattleCount": random.randint(0, 1000),
        "role": random.choice(["member", "elder", "co-leader", "leader"]),
        "donations": random.randint(0, 5000),
        "donationsReceived": random.randint(0, 5000),
        "totalDonations": random.randint(0, 10000),
        "warDayWins": random.randint(0, 100),
        "clanCardsCollected": random.randint(0, 10000)
    }
    for i in range(1, escala * 4 + 1)
]

# Generate cards
cards = [
    {
        "cardId": generate_id("C", i),
        "name": f"Card{i}",
        "maxLevel": random.randint(1, 13),
        "iconUrl": f"http://example.com/card{i}.png",
        "rarity": random.choice(["common", "rare", "epic", "legendary"]),
        "description": descricoes_para_cartas[i-1]
    }
    for i in range(1, 21) # escala * 20 + 1
]

# Generate decks
decks = [
    {
        "deckId": generate_id("D", i)
    }
    for i in range(1, escala * 20 + 1)
]

# Generate deck cards ensuring each deck has 8 unique cards
deck_cards = []
for deck in decks:
#     card_ids = random.sample([card["cardId"] for card in cards], 8)
    card_ids = list(np.random.choice([card["cardId"] for card in cards], 8, replace=True))
    for card_id in card_ids:
        deck_cards.append({
            "deckCardId": generate_id("DC", len(deck_cards) + 1),
            "deckId": deck["deckId"],
            "cardId": card_id,
            "cardLevel": random.randint(1, 13)
        })

# Generate battles
# Não escolhe ainda o vencedor.
battles = [
    {
        "battleId": generate_id("B", i),
        "battleTime": datetime.now() - timedelta(days=random.randint(0, 365)),
        "gameMode": random.choice(["1v1", "2v2"]),
        "deckSelection": random.choice(["predefined", "custom"]),
#         "winner": random.choice([f"PL{j:03d}" for j in range(1, escala * 4 + 1)]),
        "battleDuration": generate_random_battle_duration(),
        "trophyChange": random.randint(-30, 30),
        "crowns": random.randint(0, 3),
        "arena": random.choice(["Training Camp", "Goblin Stadium", "Bone Pit", "Barbarian Bowl"])
    }
    for i in range(1, escala * 10 + 1)
]

# Generate battle players ensuring each battle has 2 players
battle_players = []
for battle in battles:
    participantes = random.sample(players, 2)
    for i in range(2):
        player = participantes[i]
        deck = random.choice(decks)
        battle_players.append({
            "battlePlayerId": generate_id("BP", len(battle_players) + 1),
            "battleId": battle["battleId"],
            "playerTag": player["playerTag"],
            "startingTrophies": random.randint(0, 6000),
            "crownsEarned": random.randint(0, 3),
            "kingTowerHitPoints": random.randint(0, 5000),
            "princessTowerHitPoints": f"{random.randint(0, 5000)},{random.randint(0, 5000)}",
            "clanName": f"Clan{random.randint(1, 10)}",
            "clanTag": random_string(5),
            "deckId": deck["deckId"]
        })
    battle['winner'] = random.choice([battle_players[-1]['playerTag'], battle_players[-2]['playerTag']])

# Apenas para facilitar visualização dos dados sintéticos criados:
df_players = pd.DataFrame(players)
df_cards = pd.DataFrame(cards)
df_decks = pd.DataFrame(decks)
df_deck_cards = pd.DataFrame(deck_cards)
df_battles = pd.DataFrame(battles)
df_battle_players = pd.DataFrame(battle_players)

In [5]:
# Esta célula cria o arquivo clash_royale.db com os dados sintéticos criados

# Primeiramente, apaga o arquivo clash_royale.db, caso existente, para criar um novo
if os.path.exists('clash_royale.db'):
    # Apaga o arquivo
    os.remove('clash_royale.db')

# Cria a conexão com o banco de dados
conn = sqlite3.connect('clash_royale.db')
cursor = conn.cursor()

# Cria as tabelas
cursor.execute('''
CREATE TABLE IF NOT EXISTS players (
    playerTag TEXT PRIMARY KEY,
    name TEXT,
    expLevel INTEGER,
    trophies INTEGER,
    bestTrophies INTEGER,
    wins INTEGER,
    losses INTEGER,
    battleCount INTEGER,
    threeCrownWins INTEGER,
    challengeCardsWon INTEGER,
    challengeMaxWins INTEGER,
    tournamentCardsWon INTEGER,
    tournamentBattleCount INTEGER,
    role TEXT,
    donations INTEGER,
    donationsReceived INTEGER,
    totalDonations INTEGER,
    warDayWins INTEGER,
    clanCardsCollected INTEGER
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS cards (
    cardId TEXT PRIMARY KEY,
    name TEXT,
    maxLevel INTEGER,
    iconUrl TEXT,
    rarity TEXT,
    description TEXT
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS decks (
    deckId TEXT PRIMARY KEY
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS deck_cards (
    deckCardId TEXT PRIMARY KEY,
    deckId TEXT,
    cardId TEXT,
    cardLevel INTEGER,
    FOREIGN KEY(deckId) REFERENCES decks(deckId),
    FOREIGN KEY(cardId) REFERENCES cards(cardId)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS battles (
    battleId TEXT PRIMARY KEY,
    battleTime TEXT,
    gameMode TEXT,
    deckSelection TEXT,
    battleDuration TEXT,
    winner TEXT,
    trophyChange INTEGER,
    crowns INTEGER,
    arena TEXT
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS battle_players (
    battlePlayerId TEXT PRIMARY KEY,
    battleId TEXT,
    playerTag TEXT,
    startingTrophies INTEGER,
    crownsEarned INTEGER,
    kingTowerHitPoints INTEGER,
    princessTowerHitPoints TEXT,
    clanName TEXT,
    clanTag TEXT,
    deckId TEXT,
    FOREIGN KEY(battleId) REFERENCES battles(battleId),
    FOREIGN KEY(playerTag) REFERENCES players(playerTag),
    FOREIGN KEY(deckId) REFERENCES decks(deckId)
)
''')

# Insere os dados nas tabelas
for player in players:
    cursor.execute('''
    INSERT INTO players VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''', tuple(player.values()))

for card in cards:
    cursor.execute('''
    INSERT INTO cards VALUES (?, ?, ?, ?, ?, ?)
    ''', tuple(card.values()))

for deck in decks:
    cursor.execute('''
    INSERT INTO decks VALUES (?)
    ''', (deck['deckId'],))

for deck_card in deck_cards:
    cursor.execute('''
    INSERT INTO deck_cards VALUES (?, ?, ?, ?)
    ''', tuple(deck_card.values()))

for battle in battles:
    cursor.execute('''
    INSERT INTO battles VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''', (
        battle['battleId'],
        battle['battleTime'].isoformat(),
        battle['gameMode'],
        battle['deckSelection'],
        str(battle['battleDuration']),
        battle['winner'],
        battle['trophyChange'],
        battle['crowns'],
        battle['arena']
    ))

for battle_player in battle_players:
    cursor.execute('''
    INSERT INTO battle_players VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''', tuple(battle_player.values()))

# Salva (commit) as mudanças e fecha a conexão com o banco de dados
conn.commit()
conn.close()

In [6]:
################################
####### TESTE DE QUERY 1 #######
################################

# Reabre a conexão com o banco de dados
conn = sqlite3.connect('clash_royale.db')
cursor = conn.cursor()

# Executa a consulta SQL
query = '''
SELECT *
FROM battle_players bp
INNER JOIN decks d ON bp.deckId = d.deckId;
'''
cursor.execute(query)

# Obtém os resultados da consulta
results = cursor.fetchall()

# Imprime os resultados
for row in results:
    print(row)

# Fecha a conexão com o banco de dados
conn.close()

('BP001', 'B001', 'PL037', 2503, 2, 1042, '2451,2389', 'Clan9', 'RMZWH', 'D049', 'D049')
('BP002', 'B001', 'PL001', 4679, 3, 769, '4890,3686', 'Clan4', 'KBNGO', 'D093', 'D093')
('BP003', 'B002', 'PL036', 1570, 3, 1616, '2772,520', 'Clan8', 'IYFRD', 'D039', 'D039')
('BP004', 'B002', 'PL024', 5159, 0, 4439, '5000,4527', 'Clan9', 'DLVRU', 'D039', 'D039')
('BP005', 'B003', 'PL019', 1735, 2, 2979, '3865,3834', 'Clan5', 'EKSCZ', 'D003', 'D003')
('BP006', 'B003', 'PL034', 3449, 1, 4520, '4583,2745', 'Clan10', 'BGJHD', 'D005', 'D005')
('BP007', 'B004', 'PL008', 3504, 2, 4570, '2579,914', 'Clan2', 'LBGEB', 'D047', 'D047')
('BP008', 'B004', 'PL009', 5192, 2, 3066, '160,2783', 'Clan6', 'XYRRJ', 'D119', 'D119')
('BP009', 'B005', 'PL005', 612, 2, 1409, '443,3719', 'Clan2', 'QVNLL', 'D014', 'D014')
('BP010', 'B005', 'PL033', 2824, 2, 289, '1109,4479', 'Clan9', 'GEKSE', 'D051', 'D051')
('BP011', 'B006', 'PL011', 1289, 0, 826, '173,2897', 'Clan10', 'PEKUK', 'D071', 'D071')
('BP012', 'B006', 'PL008', 3569, 0, 4243, '3902,4857', 'Clan7', 'WAPYI', 'D162', 'D162')
('BP013', 'B007', 'PL031', 2881, 1, 1665, '3982,3501', 'Clan4', 'LOJRO', 'D128', 'D128')
('BP014', 'B007', 'PL025', 1006, 3, 4016, '1451,1149', 'Clan4', 'XUCNX', 'D079', 'D079')
('BP015', 'B008', 'PL001', 1110, 3, 910, '4320,2943', 'Clan9', 'WJHEL', 'D031', 'D031')
('BP016', 'B008', 'PL022', 3690, 1, 2182, '436,2732', 'Clan5', 'XEKCN', 'D173', 'D173')
('BP017', 'B009', 'PL040', 3015, 0, 2355, '3045,3482', 'Clan8', 'LOQDR', 'D010', 'D010')
('BP018', 'B009', 'PL029', 5377, 0, 1470, '3863,1913', 'Clan4', 'IZBFU', 'D063', 'D063')
('BP019', 'B010', 'PL034', 1941, 1, 1679, '27,4520', 'Clan4', 'AHCRS', 'D162', 'D162')
('BP020', 'B010', 'PL023', 603, 0, 2412, '4922,3047', 'Clan5', 'KRMYU', 'D177', 'D177')
('BP021', 'B011', 'PL008', 5269, 1, 3179, '1760,3014', 'Clan3', 'BFUYC', 'D025', 'D025')
('BP022', 'B011', 'PL035', 3295, 0, 1378, '296,4608', 'Clan9', 'XEYOA', 'D156', 'D156')
('BP023', 'B012', 'PL022', 3392, 0, 2378, '1674,4492', 'Clan3', 'CDVXU', 'D027', 'D027')
('BP024', 'B012', 'PL021', 5, 1, 1228, '4944,3642', 'Clan3', 'IUYSZ', 'D002', 'D002')
('BP025', 'B013', 'PL023', 642, 3, 3043, '2958,5', 'Clan8', 'ZNXHN', 'D189', 'D189')
('BP026', 'B013', 'PL014', 3599, 0, 3106, '3425,764', 'Clan7', 'OXZAA', 'D141', 'D141')
('BP027', 'B014', 'PL024', 3780, 0, 785, '2371,744', 'Clan8', 'QUJAQ', 'D001', 'D001')
('BP028', 'B014', 'PL012', 4536, 0, 1728, '1711,3609', 'Clan10', 'PJUAE', 'D006', 'D006')
('BP029', 'B015', 'PL004', 3720, 3, 761, '179,2392', 'Clan10', 'LKDAR', 'D112', 'D112')
('BP030', 'B015', 'PL003', 3890, 0, 1796, '4147,444', 'Clan7', 'VNIPU', 'D074', 'D074')
('BP031', 'B016', 'PL010', 4664, 0, 1352, '558,2707', 'Clan7', 'CUNTS', 'D109', 'D109')
('BP032', 'B016', 'PL029', 5333, 1, 2441, '306,4613', 'Clan8', 'BSIXW', 'D138', 'D138')
('BP033', 'B017', 'PL001', 3863, 1, 3906, '382,2762', 'Clan1', 'RMWUM', 'D109', 'D109')
('BP034', 'B017', 'PL026', 4136, 3, 830, '1346,2781', 'Clan9', 'CEJCN', 'D011', 'D011')
('BP035', 'B018', 'PL003', 192, 3, 455, '1526,2042', 'Clan8', 'HFSCQ', 'D094', 'D094')
('BP036', 'B018', 'PL026', 3591, 3, 960, '3067,3063', 'Clan7', 'PQQYH', 'D033', 'D033')
('BP037', 'B019', 'PL025', 2159, 2, 3596, '3746,1569', 'Clan8', 'KTBUU', 'D099', 'D099')
('BP038', 'B019', 'PL004', 521, 2, 4984, '4002,3078', 'Clan5', 'YZSCZ', 'D101', 'D101')
('BP039', 'B020', 'PL008', 1191, 2, 3692, '1047,1109', 'Clan2', 'XBAGB', 'D011', 'D011')
('BP040', 'B020', 'PL007', 3055, 3, 200, '911,3837', 'Clan1', 'EBQTW', 'D079', 'D079')
('BP041', 'B021', 'PL002', 3521, 2, 407, '4680,990', 'Clan5', 'ROPRF', 'D105', 'D105')
('BP042', 'B021', 'PL021', 5448, 2, 3922, '3784,136', 'Clan7', 'FDXQR', 'D039', 'D039')
('BP043', 'B022', 'PL021', 2443, 1, 1478, '3593,3712', 'Clan1', 'NJXLD', 'D062', 'D062')
('BP044', 'B022', 'PL014', 3884, 2, 421, '3592,4637', 'Clan9', 'WODXH', 'D035', 'D035')
('BP045', 'B023', 'PL001', 5656, 3, 863, '2896,1952', 'Clan7', 'KOUTF', 'D089', 'D089')
('BP046', 'B023', 'PL025', 198, 2, 887, '2875,2757', 'Clan10', 'EFWVI', 'D157', 'D157')
('BP047', 'B024', 'PL028', 1273, 0, 3962, '3746,3980', 'Clan9', 'SRFRG', 'D010', 'D010')
('BP048', 'B024', 'PL037', 1812, 2, 2693, '1864,3895', 'Clan2', 'CGPOE', 'D101', 'D101')
('BP049', 'B025', 'PL028', 1462, 3, 4346, '3343,4595', 'Clan7', 'LCBYZ', 'D143', 'D143')
('BP050', 'B025', 'PL022', 3823, 3, 2269, '4922,1685', 'Clan1', 'YZBXZ', 'D171', 'D171')
('BP051', 'B026', 'PL011', 2837, 0, 4288, '1120,4139', 'Clan2', 'HLGNH', 'D029', 'D029')
('BP052', 'B026', 'PL029', 61, 0, 1337, '3648,775', 'Clan6', 'TMUEO', 'D034', 'D034')
('BP053', 'B027', 'PL006', 1371, 2, 2701, '4211,3537', 'Clan10', 'NASBN', 'D098', 'D098')
('BP054', 'B027', 'PL025', 272, 2, 540, '2825,336', 'Clan2', 'FZXRQ', 'D175', 'D175')
('BP055', 'B028', 'PL024', 1621, 3, 460, '2371,2399', 'Clan4', 'OTRMT', 'D049', 'D049')
('BP056', 'B028', 'PL034', 3424, 2, 3974, '2253,134', 'Clan2', 'ZYYWD', 'D119', 'D119')
('BP057', 'B029', 'PL031', 935, 3, 709, '3615,455', 'Clan6', 'PHBLD', 'D181', 'D181')
('BP058', 'B029', 'PL005', 1593, 2, 546, '2705,959', 'Clan2', 'ZXLPZ', 'D178', 'D178')
('BP059', 'B030', 'PL039', 1443, 3, 2128, '1941,3236', 'Clan9', 'MRUNL', 'D035', 'D035')
('BP060', 'B030', 'PL017', 4368, 2, 4706, '1713,725', 'Clan3', 'TGVTG', 'D145', 'D145')
('BP061', 'B031', 'PL016', 459, 2, 2907, '768,3469', 'Clan6', 'DANEO', 'D181', 'D181')
('BP062', 'B031', 'PL038', 490, 1, 4907, '826,2220', 'Clan4', 'OJNBD', 'D100', 'D100')
('BP063', 'B032', 'PL006', 3360, 1, 2755, '323,1961', 'Clan4', 'GDMWS', 'D001', 'D001')
('BP064', 'B032', 'PL030', 1434, 0, 2628, '3398,878', 'Clan3', 'RMHUO', 'D021', 'D021')
('BP065', 'B033', 'PL028', 4387, 1, 3418, '2146,1252', 'Clan8', 'EQWUQ', 'D028', 'D028')
('BP066', 'B033', 'PL026', 5551, 0, 4013, '528,718', 'Clan5', 'BEQBI', 'D123', 'D123')
('BP067', 'B034', 'PL032', 4539, 3, 4826, '1955,510', 'Clan10', 'RELXP', 'D110', 'D110')
('BP068', 'B034', 'PL006', 5321, 0, 4265, '4601,1035', 'Clan6', 'XDRXP', 'D071', 'D071')
('BP069', 'B035', 'PL006', 861, 2, 2114, '4006,2381', 'Clan6', 'KESAE', 'D003', 'D003')
('BP070', 'B035', 'PL020', 5382, 3, 59, '3399,2628', 'Clan5', 'KBLBY', 'D084', 'D084')
('BP071', 'B036', 'PL012', 2870, 0, 4408, '1459,2844', 'Clan10', 'XAFPO', 'D145', 'D145')
('BP072', 'B036', 'PL031', 1586, 0, 2572, '2638,588', 'Clan6', 'GACNR', 'D168', 'D168')
('BP073', 'B037', 'PL033', 5086, 0, 1347, '2848,1725', 'Clan6', 'LHNCV', 'D190', 'D190')
('BP074', 'B037', 'PL014', 480, 2, 956, '2009,188', 'Clan7', 'WGYFC', 'D166', 'D166')
('BP075', 'B038', 'PL038', 4531, 0, 3234, '3221,3145', 'Clan5', 'JDBCC', 'D105', 'D105')
('BP076', 'B038', 'PL011', 1252, 2, 3718, '2293,3859', 'Clan8', 'NDKYE', 'D149', 'D149')
('BP077', 'B039', 'PL023', 108, 0, 1137, '1921,4688', 'Clan3', 'IHUDG', 'D077', 'D077')
('BP078', 'B039', 'PL007', 3686, 1, 2926, '4615,4149', 'Clan1', 'RVZVY', 'D065', 'D065')
('BP079', 'B040', 'PL005', 5847, 1, 4582, '2356,2746', 'Clan1', 'IYQTZ', 'D131', 'D131')
('BP080', 'B040', 'PL020', 674, 3, 2930, '3690,572', 'Clan8', 'QJUTA', 'D177', 'D177')
('BP081', 'B041', 'PL012', 4385, 3, 273, '1347,3001', 'Clan9', 'NCBPO', 'D005', 'D005')
('BP082', 'B041', 'PL023', 4540, 1, 2432, '3522,3800', 'Clan2', 'OQJKE', 'D147', 'D147')
('BP083', 'B042', 'PL038', 3638, 0, 723, '4207,1', 'Clan7', 'LEROG', 'D135', 'D135')
('BP084', 'B042', 'PL025', 3798, 0, 1498, '168,4915', 'Clan10', 'COCAL', 'D164', 'D164')
('BP085', 'B043', 'PL016', 2137, 0, 168, '4310,356', 'Clan8', 'MSBIV', 'D077', 'D077')
('BP086', 'B043', 'PL037', 4918, 1, 4037, '2641,2846', 'Clan6', 'QZOFK', 'D110', 'D110')
('BP087', 'B044', 'PL039', 2617, 2, 1079, '137,4731', 'Clan6', 'WNFEH', 'D151', 'D151')
('BP088', 'B044', 'PL001', 3102, 2, 1472, '2419,486', 'Clan4', 'FONQR', 'D068', 'D068')
('BP089', 'B045', 'PL009', 2972, 2, 1863, '2728,1761', 'Clan5', 'AVIGV', 'D106', 'D106')
('BP090', 'B045', 'PL007', 1749, 3, 4736, '1411,1880', 'Clan3', 'OXFAF', 'D129', 'D129')
('BP091', 'B046', 'PL001', 2056, 2, 3324, '1584,3698', 'Clan5', 'CEFUD', 'D145', 'D145')
('BP092', 'B046', 'PL022', 211, 0, 4114, '3238,4250', 'Clan9', 'OAPZZ', 'D118', 'D118')
('BP093', 'B047', 'PL030', 5271, 2, 1262, '2700,1550', 'Clan3', 'FYZAX', 'D162', 'D162')
('BP094', 'B047', 'PL021', 4009, 1, 4954, '1372,308', 'Clan9', 'KAPIO', 'D120', 'D120')
('BP095', 'B048', 'PL028', 3528, 3, 4180, '4886,3632', 'Clan3', 'WAFYJ', 'D194', 'D194')
('BP096', 'B048', 'PL029', 4977, 1, 1751, '1456,1648', 'Clan5', 'JYYGA', 'D006', 'D006')
('BP097', 'B049', 'PL036', 380, 3, 1447, '1648,4099', 'Clan9', 'IWFNH', 'D119', 'D119')
('BP098', 'B049', 'PL020', 5377, 3, 2675, '3062,1588', 'Clan8', 'NSVCG', 'D111', 'D111')
('BP099', 'B050', 'PL039', 1718, 3, 2553, '430,3741', 'Clan5', 'PTFHV', 'D046', 'D046')
('BP100', 'B050', 'PL008', 1767, 1, 3208, '4050,4280', 'Clan2', 'MYVTN', 'D077', 'D077')
('BP101', 'B051', 'PL036', 5700, 3, 2633, '4992,4775', 'Clan2', 'YWVJG', 'D076', 'D076')
('BP102', 'B051', 'PL031', 3587, 3, 3063, '3967,3425', 'Clan9', 'KKYHQ', 'D132', 'D132')
('BP103', 'B052', 'PL005', 4432, 0, 3416, '1623,1948', 'Clan9', 'CQMBC', 'D114', 'D114')
('BP104', 'B052', 'PL002', 5678, 1, 4511, '3985,2482', 'Clan2', 'CTKKT', 'D162', 'D162')
('BP105', 'B053', 'PL013', 5403, 0, 1540, '1573,2426', 'Clan6', 'IHIDG', 'D151', 'D151')
('BP106', 'B053', 'PL001', 1508, 1, 3833, '3302,4313', 'Clan4', 'PYBTH', 'D171', 'D171')
('BP107', 'B054', 'PL018', 1510, 1, 2208, '166,4222', 'Clan8', 'SHBKT', 'D030', 'D030')
('BP108', 'B054', 'PL027', 4323, 3, 4796, '4624,4012', 'Clan6', 'TCNYM', 'D078', 'D078')
('BP109', 'B055', 'PL015', 547, 3, 1338, '3987,211', 'Clan8', 'GNOUP', 'D098', 'D098')
('BP110', 'B055', 'PL010', 1631, 2, 1371, '3214,2443', 'Clan4', 'OVIUR', 'D072', 'D072')
('BP111', 'B056', 'PL033', 1241, 3, 2756, '2738,22', 'Clan9', 'ALASM', 'D116', 'D116')
('BP112', 'B056', 'PL017', 4595, 1, 1024, '1448,4588', 'Clan9', 'CCQQL', 'D093', 'D093')
('BP113', 'B057', 'PL005', 5627, 0, 3134, '1654,2361', 'Clan5', 'BYOGX', 'D086', 'D086')
('BP114', 'B057', 'PL012', 2734, 2, 1917, '4693,272', 'Clan9', 'RRDOT', 'D032', 'D032')
('BP115', 'B058', 'PL010', 2649, 0, 236, '4915,4184', 'Clan8', 'MDIBW', 'D032', 'D032')
('BP116', 'B058', 'PL037', 3888, 2, 2813, '3979,2639', 'Clan1', 'OVNYK', 'D060', 'D060')
('BP117', 'B059', 'PL029', 1691, 1, 1465, '215,1211', 'Clan4', 'XCCCA', 'D041', 'D041')
('BP118', 'B059', 'PL001', 5854, 3, 3428, '3790,685', 'Clan1', 'ATPPN', 'D154', 'D154')
('BP119', 'B060', 'PL003', 3950, 0, 1582, '4012,3602', 'Clan6', 'DPGUP', 'D108', 'D108')
('BP120', 'B060', 'PL017', 2199, 0, 4254, '4655,551', 'Clan7', 'JFESH', 'D192', 'D192')
('BP121', 'B061', 'PL012', 5712, 1, 295, '2738,2652', 'Clan6', 'ZOVXE', 'D064', 'D064')
('BP122', 'B061', 'PL018', 4198, 3, 1428, '2674,3853', 'Clan4', 'TMEQT', 'D185', 'D185')
('BP123', 'B062', 'PL013', 3306, 0, 127, '3422,1515', 'Clan10', 'EKBBF', 'D081', 'D081')
('BP124', 'B062', 'PL023', 5740, 0, 3277, '233,2074', 'Clan1', 'ZDQQO', 'D009', 'D009')
('BP125', 'B063', 'PL017', 3194, 0, 1776, '3198,3407', 'Clan5', 'ZLABM', 'D153', 'D153')
('BP126', 'B063', 'PL019', 677, 3, 4006, '2362,2581', 'Clan2', 'APCUC', 'D104', 'D104')
('BP127', 'B064', 'PL016', 3771, 2, 474, '1468,1840', 'Clan8', 'RNRAN', 'D162', 'D162')
('BP128', 'B064', 'PL036', 3067, 1, 3513, '1721,1867', 'Clan3', 'JNJAR', 'D132', 'D132')
('BP129', 'B065', 'PL040', 1929, 2, 4232, '3187,4370', 'Clan5', 'YDMTN', 'D166', 'D166')
('BP130', 'B065', 'PL025', 3057, 1, 1960, '3992,3426', 'Clan5', 'HTZHI', 'D054', 'D054')
('BP131', 'B066', 'PL015', 2902, 0, 2011, '4009,566', 'Clan5', 'GRPKA', 'D003', 'D003')
('BP132', 'B066', 'PL007', 91, 3, 596, '2379,2756', 'Clan1', 'AWAPR', 'D122', 'D122')
('BP133', 'B067', 'PL007', 3900, 0, 2442, '109,784', 'Clan2', 'JZILO', 'D117', 'D117')
('BP134', 'B067', 'PL024', 1052, 2, 1469, '1508,1522', 'Clan3', 'LYPGC', 'D069', 'D069')
('BP135', 'B068', 'PL005', 3531, 1, 3904, '340,1297', 'Clan1', 'LQMZY', 'D178', 'D178')
('BP136', 'B068', 'PL030', 5861, 2, 4176, '3674,4265', 'Clan5', 'EEIDQ', 'D130', 'D130')
('BP137', 'B069', 'PL040', 3507, 3, 2701, '3118,1492', 'Clan5', 'VVGUE', 'D182', 'D182')
('BP138', 'B069', 'PL025', 2223, 0, 1865, '928,3587', 'Clan7', 'UVKRO', 'D180', 'D180')
('BP139', 'B070', 'PL018', 2566, 2, 3791, '2574,4607', 'Clan1', 'WPZYE', 'D034', 'D034')
('BP140', 'B070', 'PL038', 1093, 3, 1219, '4220,4396', 'Clan1', 'NUVGM', 'D049', 'D049')
('BP141', 'B071', 'PL009', 5794, 1, 2369, '3169,1633', 'Clan9', 'POVQF', 'D035', 'D035')
('BP142', 'B071', 'PL020', 4007, 0, 453, '2585,1870', 'Clan3', 'RRLUZ', 'D162', 'D162')
('BP143', 'B072', 'PL002', 3555, 0, 4696, '4882,2877', 'Clan9', 'XMRXV', 'D118', 'D118')
('BP144', 'B072', 'PL039', 2527, 0, 713, '3948,1924', 'Clan3', 'YSWKZ', 'D035', 'D035')
('BP145', 'B073', 'PL008', 1298, 2, 996, '4840,1200', 'Clan9', 'ATDNF', 'D106', 'D106')
('BP146', 'B073', 'PL035', 3362, 2, 495, '1692,1992', 'Clan1', 'WZBIG', 'D163', 'D163')
('BP147', 'B074', 'PL001', 4256, 0, 1995, '202,4295', 'Clan3', 'QRVID', 'D008', 'D008')
('BP148', 'B074', 'PL012', 2564, 1, 4181, '2826,4569', 'Clan8', 'XENLP', 'D153', 'D153')
('BP149', 'B075', 'PL018', 5213, 2, 578, '4138,2557', 'Clan1', 'ZXDDO', 'D021', 'D021')
('BP150', 'B075', 'PL005', 4374, 2, 2105, '2676,8', 'Clan6', 'ZTNIS', 'D126', 'D126')
('BP151', 'B076', 'PL001', 1242, 1, 4250, '3622,1878', 'Clan6', 'DOZYX', 'D143', 'D143')
('BP152', 'B076', 'PL032', 4896, 2, 474, '2106,1803', 'Clan2', 'PNFTX', 'D110', 'D110')
('BP153', 'B077', 'PL014', 5479, 1, 4927, '1680,1084', 'Clan1', 'MPCOL', 'D178', 'D178')
('BP154', 'B077', 'PL007', 1194, 3, 3395, '1091,647', 'Clan10', 'KTVVH', 'D178', 'D178')
('BP155', 'B078', 'PL035', 5369, 2, 705, '191,1871', 'Clan1', 'XBZYJ', 'D017', 'D017')
('BP156', 'B078', 'PL004', 1660, 1, 1020, '4791,2414', 'Clan7', 'XVQHL', 'D131', 'D131')
('BP157', 'B079', 'PL038', 5846, 0, 2098, '3706,3136', 'Clan9', 'OHIXQ', 'D130', 'D130')
('BP158', 'B079', 'PL032', 4874, 1, 187, '4233,883', 'Clan5', 'OSPRH', 'D124', 'D124')
('BP159', 'B080', 'PL013', 1165, 2, 2464, '1134,168', 'Clan6', 'ZDFCH', 'D025', 'D025')
('BP160', 'B080', 'PL023', 2231, 1, 3353, '1553,645', 'Clan2', 'PMKWN', 'D116', 'D116')
('BP161', 'B081', 'PL027', 801, 3, 1901, '467,2550', 'Clan5', 'OINQI', 'D158', 'D158')
('BP162', 'B081', 'PL011', 5403, 3, 2290, '2211,2677', 'Clan1', 'SESLB', 'D180', 'D180')
('BP163', 'B082', 'PL032', 3169, 1, 2407, '4960,1847', 'Clan10', 'DWNOT', 'D080', 'D080')
('BP164', 'B082', 'PL040', 3446, 2, 2177, '3345,1709', 'Clan1', 'JZBLI', 'D198', 'D198')
('BP165', 'B083', 'PL005', 4852, 1, 2610, '3468,3364', 'Clan7', 'HFPPP', 'D121', 'D121')
('BP166', 'B083', 'PL006', 5992, 2, 1467, '3728,400', 'Clan8', 'EXEJC', 'D057', 'D057')
('BP167', 'B084', 'PL037', 36, 1, 377, '2433,4812', 'Clan1', 'ZNPEW', 'D048', 'D048')
('BP168', 'B084', 'PL021', 1081, 0, 2604, '954,4669', 'Clan9', 'IVHJQ', 'D161', 'D161')
('BP169', 'B085', 'PL029', 4861, 1, 4369, '2378,3253', 'Clan9', 'WWEJU', 'D076', 'D076')
('BP170', 'B085', 'PL031', 650, 1, 3012, '3844,4380', 'Clan3', 'BSFOG', 'D190', 'D190')
('BP171', 'B086', 'PL023', 5024, 2, 1826, '3468,1982', 'Clan6', 'JYUDT', 'D041', 'D041')
('BP172', 'B086', 'PL015', 5967, 0, 3140, '1357,4387', 'Clan1', 'HFZFC', 'D141', 'D141')
('BP173', 'B087', 'PL018', 761, 3, 33, '4317,2678', 'Clan9', 'RLIZN', 'D170', 'D170')
('BP174', 'B087', 'PL040', 2884, 2, 3012, '1299,1232', 'Clan5', 'ZYGKQ', 'D009', 'D009')
('BP175', 'B088', 'PL007', 2479, 2, 3803, '4408,2116', 'Clan6', 'MSQHK', 'D101', 'D101')
('BP176', 'B088', 'PL026', 965, 0, 4140, '1517,86', 'Clan8', 'MIFHB', 'D061', 'D061')
('BP177', 'B089', 'PL024', 4251, 1, 1610, '3786,3136', 'Clan7', 'OZYYS', 'D120', 'D120')
('BP178', 'B089', 'PL009', 2357, 0, 3196, '3666,261', 'Clan4', 'XAEYA', 'D194', 'D194')
('BP179', 'B090', 'PL024', 760, 2, 2937, '369,3831', 'Clan5', 'YNJQL', 'D028', 'D028')
('BP180', 'B090', 'PL021', 3054, 2, 1002, '3070,3736', 'Clan4', 'UZKFI', 'D159', 'D159')
('BP181', 'B091', 'PL016', 749, 2, 1584, '1430,2513', 'Clan9', 'RBHWZ', 'D040', 'D040')
('BP182', 'B091', 'PL012', 5285, 0, 3957, '19,2640', 'Clan6', 'QVTYA', 'D028', 'D028')
('BP183', 'B092', 'PL025', 4160, 2, 1025, '1659,297', 'Clan1', 'QZLWG', 'D147', 'D147')
('BP184', 'B092', 'PL040', 1844, 2, 4098, '2203,677', 'Clan1', 'MMNKP', 'D110', 'D110')
('BP185', 'B093', 'PL017', 3816, 0, 3683, '2873,4157', 'Clan7', 'EMZQJ', 'D136', 'D136')
('BP186', 'B093', 'PL026', 3619, 0, 3437, '1186,4361', 'Clan5', 'AFLWU', 'D191', 'D191')
('BP187', 'B094', 'PL011', 2160, 3, 228, '3351,2665', 'Clan6', 'LKAEL', 'D113', 'D113')
('BP188', 'B094', 'PL022', 3910, 0, 175, '2822,3501', 'Clan6', 'IAYYO', 'D119', 'D119')
('BP189', 'B095', 'PL026', 5788, 3, 1178, '4660,1479', 'Clan10', 'ATXGU', 'D109', 'D109')
('BP190', 'B095', 'PL005', 1524, 1, 3745, '2501,126', 'Clan4', 'GJUZI', 'D087', 'D087')
('BP191', 'B096', 'PL024', 2821, 2, 4105, '3059,2940', 'Clan9', 'FGIKH', 'D019', 'D019')
('BP192', 'B096', 'PL040', 28, 0, 3125, '653,542', 'Clan9', 'ZOTBE', 'D115', 'D115')
('BP193', 'B097', 'PL003', 698, 0, 452, '3859,2258', 'Clan9', 'SFNMD', 'D131', 'D131')
('BP194', 'B097', 'PL024', 5964, 0, 2719, '2456,102', 'Clan10', 'WXURA', 'D131', 'D131')
('BP195', 'B098', 'PL019', 1512, 2, 2215, '2013,4690', 'Clan7', 'NEIRJ', 'D139', 'D139')
('BP196', 'B098', 'PL038', 1864, 1, 2554, '4924,2151', 'Clan3', 'VADNJ', 'D083', 'D083')
('BP197', 'B099', 'PL040', 2059, 1, 1139, '3829,1789', 'Clan4', 'FBSPS', 'D021', 'D021')
('BP198', 'B099', 'PL013', 2606, 2, 112, '1744,3550', 'Clan2', 'CYJEB', 'D018', 'D018')
('BP199', 'B100', 'PL024', 1331, 3, 3477, '3170,4034', 'Clan10', 'TPKGX', 'D137', 'D137')
('BP200', 'B100', 'PL017', 5293, 1, 770, '3546,792', 'Clan7', 'XSEMU', 'D002', 'D002')

In [7]:
################################
####### TESTE DE QUERY 2 #######
################################

# Função para obter deck_cards associados a um battle_player específico
def get_deck_cards_for_battle_player(battlePlayerId):
    # Reabre a conexão com o banco de dados
    conn = sqlite3.connect('clash_royale.db')
    cursor = conn.cursor()

    # Consulta SQL
    query = '''
    SELECT dc.*
    FROM battle_players bp
    INNER JOIN decks d ON bp.deckId = d.deckId
    INNER JOIN deck_cards dc ON d.deckId = dc.deckId
    WHERE bp.battlePlayerId = ?;
    '''

    # Executa a consulta com o battlePlayerId especificado
    cursor.execute(query, (battlePlayerId,))
    results = cursor.fetchall()

    # Fecha a conexão com o banco de dados
    conn.close()

    return results

# Exemplo de uso da função
battlePlayerId = 'BP001'  # Substitua pelo battlePlayerId desejado
deck_cards = get_deck_cards_for_battle_player(battlePlayerId)

# Imprime os resultados
for deck_card in deck_cards:
    print(deck_card)

('DC385', 'D049', 'C009', 8)
('DC386', 'D049', 'C006', 12)
('DC387', 'D049', 'C015', 4)
('DC388', 'D049', 'C005', 13)
('DC389', 'D049', 'C005', 7)
('DC390', 'D049', 'C013', 13)
('DC391', 'D049', 'C006', 12)
('DC392', 'D049', 'C004', 8)

In [8]:
################################
####### TESTE DE QUERY 3 #######
################################

# Reabre a conexão com o banco de dados
conn = sqlite3.connect('clash_royale.db')
cursor = conn.cursor()

# Executa a consulta SQL
query = '''
SELECT *
FROM battles bp
'''
cursor.execute(query)

# Obtém os resultados da consulta
results = cursor.fetchall()

# Fecha a conexão com o banco de dados
conn.close()

pd.DataFrame(results)

,0,1,2,3,4,5,6,7,8
0,B001,2024-02-01T00:58:09.729416,1v1,custom,0:03:26,PL037,15,3,Training Camp
1,B002,2024-04-07T00:58:09.729416,2v2,custom,0:00:11,PL024,22,1,Bone Pit
2,B003,2024-02-20T00:58:09.729416,1v1,custom,0:02:20,PL019,25,2,Bone Pit
3,B004,2023-11-22T00:58:09.729416,2v2,predefined,0:00:25,PL009,17,0,Training Camp
4,B005,2024-02-06T00:58:09.729416,1v1,custom,0:01:19,PL033,-14,0,Goblin Stadium
...,...,...,...,...,...,...,...,...,...
95,B096,2023-11-10T00:58:09.730412,1v1,custom,0:00:26,PL040,15,0,Bone Pit
96,B097,2023-11-07T00:58:09.730412,1v1,custom,0:03:21,PL024,26,3,Goblin Stadium
97,B098,2024-04-01T00:58:09.730412,2v2,custom,0:00:03,PL038,24,0,Goblin Stadium
98,B099,2023-11-02T00:58:09.730412,1v1,custom,0:04:40,PL013,25,2,Training Camp
99,B100,2024-06-20T00:58:09.730412,2v2,predefined,0:02:26,PL017,14,0,Barbarian Bowl

<h3>Tarefa 1: Calcular a porcentagem de vitórias e derrotas utilizando a carta X em um intervalo de timestamps</h3>

In [10]:
def win_loss_percentage_with_card(card_id, start_time, end_time):
    query = '''
    SELECT bp.playerTag, b.winner
    FROM battle_players bp
    INNER JOIN battles b ON bp.battleId = b.battleId
    INNER JOIN deck_cards dc ON bp.deckId = dc.deckId
    WHERE dc.cardId = ? AND b.battleTime BETWEEN ? AND ?
    '''
    df = query_db(query, (card_id, start_time, end_time))

    total_battles = len(df)
    if total_battles == 0:
        return {"win_percentage": 0, "loss_percentage": 0}

    wins = df[df['playerTag'] == df['winner']].shape[0]
    losses = total_battles - wins

    win_percentage = (wins / total_battles) * 100
    loss_percentage = (losses / total_battles) * 100

    return {"win_percentage": win_percentage, "loss_percentage": loss_percentage}

# Exemplo de uso:
card_id = 'C001'
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'
print(win_loss_percentage_with_card(card_id, start_time, end_time))

{'win_percentage': 43.24324324324324, 'loss_percentage': 56.75675675675676}

<h3>Tarefa 2: Listar os decks completos que produziram mais de X% de vitórias em um intervalo de timestamps</h3>

In [11]:
def decks_with_high_win_rate(win_rate_threshold, start_time, end_time):
    query = '''
    SELECT bp.deckId, COUNT(*) as total_battles,
           SUM(CASE WHEN bp.playerTag = b.winner THEN 1 ELSE 0 END) as wins
    FROM battle_players bp
    INNER JOIN battles b ON bp.battleId = b.battleId
    WHERE b.battleTime BETWEEN ? AND ?
    GROUP BY bp.deckId
    HAVING (wins * 1.0 / total_battles) * 100 > ?
    '''
    df = query_db(query, (start_time, end_time, win_rate_threshold))
    return df

# Exemplo de uso:
win_rate_threshold = 50  # decks com mais de 50% de vitórias
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'
print(decks_with_high_win_rate(win_rate_threshold, start_time, end_time))

   deckId  total_battles  wins
0    D008              1     1
1    D018              1     1
2    D021              3     2
3    D027              1     1
4    D029              1     1
5    D030              1     1
6    D031              1     1
7    D039              3     2
8    D041              2     2
9    D046              1     1
10   D048              1     1
11   D049              3     2
12   D051              1     1
13   D060              1     1
14   D064              1     1
15   D065              1     1
16   D069              1     1
17   D072              1     1
18   D074              1     1
19   D083              1     1
20   D084              1     1
21   D086              1     1
22   D087              1     1
23   D089              1     1
24   D094              1     1
25   D101              3     3
26   D104              1     1
27   D108              1     1
28   D109              3     2
29   D110              4     4
30   D113              1     1
31   D115              1     1
32   D116              2     2
33   D121              1     1
34   D122              1     1
35   D123              1     1
36   D128              1     1
37   D129              1     1
38   D131              4     3
39   D135              1     1
40   D136              1     1
41   D145              3     2
42   D156              1     1
43   D158              1     1
44   D159              1     1
45   D162              6     4
46   D170              1     1
47   D181              2     2
48   D189              1     1
49   D190              2     2
50   D194              2     2
51   D198              1     1

<h3>Tarefa 3: Calcular a quantidade de derrotas utilizando um combo de cartas em um intervalo de timestamps</h3>

In [12]:
def losses_with_card_combo(card_ids, start_time, end_time):
    card_placeholders = ', '.join('?' for _ in card_ids)
    query = f'''
    SELECT bp.battleId, COUNT(DISTINCT dc.cardId) as card_count
    FROM battle_players bp
    INNER JOIN battles b ON bp.battleId = b.battleId
    INNER JOIN deck_cards dc ON bp.deckId = dc.deckId
    WHERE dc.cardId IN ({card_placeholders}) AND b.battleTime BETWEEN ? AND ?
    GROUP BY bp.battleId
    HAVING card_count = ?
    '''
    df = query_db(query, (*card_ids, start_time, end_time, len(card_ids)))

    total_battles = len(df)
    losses = total_battles - df[df['battleId'].isin(df['battleId'])].shape[0]

    return {"losses": losses}

# Exemplo de uso:
card_ids = ['C002', 'C003']
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'
print(losses_with_card_combo(card_ids, start_time, end_time))

{'losses': 0}

<center><h3>Tarefa 3 versão 2 - utilizando apenas Python, sem SQL</h3></center>

In [13]:
card_ids = ['C002', 'C003']
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'

def derrotas_e_vitorias_do_combo(card_ids, start_time='1700-01-01T00:00:00', end_time='2200-01-01T00:00:00'):
    derrotas_do_combo = 0
    vitorias_do_combo = 0
    for batalha in df_battles[(df_battles['battleTime'] >= start_time) & (df_battles['battleTime'] <= end_time)]['battleId']:
        df_participantes = df_battle_players[df_battle_players['battleId']==batalha]
        vencedor = df_battles[df_battles['battleId']==batalha]['winner'].iloc[0]

        deque_perdedor = df_participantes.loc[df_participantes['playerTag'] != vencedor, 'deckId'].iloc[0]
        deque_vencedor = df_participantes.loc[df_participantes['playerTag'] == vencedor, 'deckId'].iloc[0]
        cartas_perdedoras = df_deck_cards[df_deck_cards['deckId']==deque_perdedor]['cardId'].tolist()
        cartas_vencedoras = df_deck_cards[df_deck_cards['deckId']==deque_vencedor]['cardId'].tolist()    
        if all([card in cartas_perdedoras for card in card_ids]):
            derrotas_do_combo+=1
        if all([card in cartas_vencedoras for card in card_ids]):
            vitorias_do_combo+=1
    return derrotas_do_combo, vitorias_do_combo

derrotas_do_combo, _ = derrotas_e_vitorias_do_combo(card_ids, start_time, end_time)
derrotas_do_combo

10

<h3>Tarefa 4: Calcular a quantidade de vitórias envolvendo a carta X onde o vencedor possui Z% menos troféus que o perdedor, a partida durou menos de 2 minutos, e o perdedor derrubou ao menos duas torres</h3>

In [14]:
def wins_with_card_under_conditions(card_id, trophy_diff_percentage, start_time, end_time):
    query = '''
    SELECT bp.battleId, bp.playerTag, bp.startingTrophies, b.winner, b.battleTime,
           (bp.kingTowerHitPoints + bp.princessTowerHitPoints) as totalHitPoints
    FROM battle_players bp
    INNER JOIN battles b ON bp.battleId = b.battleId
    INNER JOIN deck_cards dc ON bp.deckId = dc.deckId
    WHERE dc.cardId = ? AND b.battleTime BETWEEN ? AND ? AND totalHitPoints < 2
    '''
    df = query_db(query, (card_id, start_time, end_time))
    
    # Filtrando as condições adicionais
    filtered_df = df[(df['winner'] == df['playerTag']) & 
                     ((df['startingTrophies'] * (1 - trophy_diff_percentage / 100)) > df['startingTrophies']) & 
                     (pd.to_datetime(df['battleTime']) - pd.to_datetime(df['battleTime']) < pd.Timedelta(minutes=2))]
    
    wins = filtered_df.shape[0]
    
    return {"wins": wins}

# Exemplo de uso:
card_id = 'C001'
trophy_diff_percentage = 20
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'
print(wins_with_card_under_conditions(card_id, trophy_diff_percentage, start_time, end_time))

{'wins': 0}

<center><h3>Tarefa 4 versão 2 - utilizando apenas Python, sem SQL</h3></center>

In [15]:
# Exemplo de uso:
card_id = 'C001'
trophy_diff_percentage = 20
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'

#######
qtd_vitorias = 0
# Definir o limite de 2 minutos
two_minutes = timedelta(minutes=2)
# Criar o filtro
battle_duration_filter = df_battles['battleDuration'] <= two_minutes
for batalha in df_battles[(df_battles['battleTime'] >= start_time) & \
                          (df_battles['battleTime'] <= end_time) & \
                           battle_duration_filter]['battleId']:
    df_participantes = df_battle_players[df_battle_players['battleId']==batalha]
    vencedor = df_battles[df_battles['battleId']==batalha]['winner'].iloc[0]
    filtro_vencedor = df_participantes['playerTag']==vencedor
    trofeus_do_vencedor = df_participantes[filtro_vencedor]['startingTrophies'].iloc[0]
    trofeus_do_perdedor = df_participantes[~filtro_vencedor]['startingTrophies'].iloc[0]
    # Assumindo que o número de crownsEarned equivalha ao número de torres derrubadas:
    torres_derrubadas_pelo_perdedor = df_participantes[~filtro_vencedor]['crownsEarned'].iloc[0]
    vencedor_tem_menos_trofeus = trofeus_do_vencedor <= trofeus_do_perdedor * (1 - trophy_diff_percentage / 100)
    if vencedor_tem_menos_trofeus and (torres_derrubadas_pelo_perdedor >= 2):
        deque_vencedor = df_participantes.loc[df_participantes['playerTag'] == vencedor, 'deckId'].iloc[0]
        cartas_vencedoras = df_deck_cards[df_deck_cards['deckId']==deque_vencedor]['cardId'].tolist() 
        if card_id in cartas_vencedoras:
            qtd_vitorias+=1
qtd_vitorias

2

<h3>Tarefa 5: Listar o combo de cartas de tamanho N que produziram mais de Y% de vitórias em um intervalo de timestamps</h3>

In [16]:
def card_combos_with_high_win_rate(combo_size, win_rate_threshold, start_time, end_time):
    query = f'''
    SELECT bp.deckId, dc.cardId, COUNT(*) as total_battles,
           SUM(CASE WHEN bp.playerTag = b.winner THEN 1 ELSE 0 END) as wins
    FROM battle_players bp
    INNER JOIN battles b ON bp.battleId = b.battleId
    INNER JOIN deck_cards dc ON bp.deckId = dc.deckId
    WHERE b.battleTime BETWEEN ? AND ?
    GROUP BY bp.deckId, dc.cardId
    HAVING COUNT(DISTINCT dc.cardId) = ? AND (wins * 1.0 / total_battles) * 100 > ?
    '''
    df = query_db(query, (start_time, end_time, combo_size, win_rate_threshold))
    return df

# Exemplo de uso:
combo_size = 2
win_rate_threshold = 50  # combos com mais de 50% de vitórias
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'
print(card_combos_with_high_win_rate(combo_size, win_rate_threshold, start_time, end_time))

Empty DataFrame
Columns: [deckId, cardId, total_battles, wins]
Index: []

<center><h3>Tarefa 5 versão 2 - utilizando apenas Python, sem SQL</h3></center>

In [17]:
combo_size = 3
win_rate_threshold = 50  # combos com mais de 50% de vitórias
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'

# Esta célula exige paciência pois ela demora bastante para fornecer o resultado

def get_card_combinations(df_cards, N):
    card_ids = df_cards['cardId'].tolist()
    return list(combinations(card_ids, N))

# Exemplo de uso:
N = combo_size  # Substitua pelo número desejado de cartas na combinação
card_combinations = get_card_combinations(df_cards, N)

dicio_combos = {}

for combination in card_combinations:
    derrotas, vitorias = derrotas_e_vitorias_do_combo(combination,
                                                      start_time,
                                                      end_time)
    if (derrotas + vitorias) != 0:
        percent_vitoria = vitorias/(derrotas + vitorias)
    else:
        percent_vitoria = None
    dicio_combos[str(combination)] = percent_vitoria

df_combos = pd.DataFrame(dicio_combos, index=['pct_vitorias']).transpose()
df_combos[df_combos['pct_vitorias']>win_rate_threshold/100]

                         pct_vitorias
('C001', 'C002', 'C017')          1.0
('C001', 'C003', 'C010')          0.8
('C001', 'C003', 'C013')     0.545455
('C001', 'C004', 'C008')          0.6
('C001', 'C004', 'C010')     0.555556
...                               ...
('C016', 'C017', 'C019')          0.6
('C016', 'C017', 'C020')     0.714286
('C017', 'C018', 'C019')         0.75
('C017', 'C018', 'C020')     0.666667
('C017', 'C019', 'C020')     0.666667

[414 rows x 1 columns]

<h3>Consultas adicionais I - Taxa de vitórias por raridade da carta</h3>
<p><i>Nesta consulta analisaremos o desempenho de cartas de diferentes raridades (comum, rara, épica, lendária) em todas as batalhas. A proposta é auxiliar a identificar se cartas de raridades específicas apresentam desempenho superior ou inferior.</i></p>

In [18]:
def win_rate_by_rarity():
    query = '''
    SELECT c.rarity, COUNT(*) as total_battles,
           SUM(CASE WHEN bp.playerTag = b.winner THEN 1 ELSE 0 END) as wins
    FROM cards c
    INNER JOIN deck_cards dc ON c.cardId = dc.cardId
    INNER JOIN battle_players bp ON dc.deckId = bp.deckId
    INNER JOIN battles b ON bp.battleId = b.battleId
    GROUP BY c.rarity
    '''
    df = query_db(query)
    
    df['win_rate'] = (df['wins'] / df['total_battles']) * 100
    return df

# Exemplo de uso:
print(win_rate_by_rarity())

      rarity  total_battles  wins   win_rate
0     common            194   114  58.762887
1       epic            151    77  50.993377
2  legendary            674   316  46.884273
3       rare            581   293  50.430293

<h3>Consultas adicionais II - Análise de diversidade de decks</h3>
<p><i>Nesta consulta examinaremos a variedade dos decks utilizados em partidas com alta taxa de troféus. A baixa diversidade de cartas no deck pode ser um indício de que certas combinações se tornam muito poderosas e precisam de equilíbrio.</i></p>

In [19]:
def deck_diversity(high_trophy_threshold):
    query = '''
    SELECT bp.deckId, COUNT(DISTINCT dc.cardId) as unique_cards
    FROM battle_players bp
    INNER JOIN deck_cards dc ON bp.deckId = dc.deckId
    INNER JOIN players p ON bp.playerTag = p.playerTag
    WHERE p.trophies > ?
    GROUP BY bp.deckId
    '''
    df = query_db(query, (high_trophy_threshold,))
    
    return df

# Exemplo de uso:
high_trophy_threshold = 5000  # Ajuste este valor conforme necessário
print(deck_diversity(high_trophy_threshold))

   deckId  unique_cards
0    D002             6
1    D003             7
2    D032             8
3    D039             7
4    D048             7
5    D049             6
6    D051             8
7    D060             8
8    D062             8
9    D072             4
10   D076             7
11   D078             6
12   D080             6
13   D101             6
14   D104             7
15   D109             6
16   D110             7
17   D112             8
18   D116             6
19   D119             6
20   D120             5
21   D124             6
22   D131             7
23   D132             8
24   D139             6
25   D158             7
26   D159             7
27   D161             8
28   D190             6

<h3>Consultas adicionais III - Taxa de uso do card vs taxa de vitórias</h3>
<p><i>Nesta consulta compararemos a frequência de uso de um card com sua taxa de ganho. Cards com altas taxas de utilização mas com baixas taxas de ganho podem ser consideradas mais fortes do que realmente são, enquanto cards com baixas taxas de utilização mas altas taxas de vitórias podem ser subvalorizados. </i></p>

In [20]:
def card_usage_vs_win_rate():
    query = '''
    SELECT c.cardId, c.name, c.rarity,
           COUNT(*) as usage_count,
           SUM(CASE WHEN bp.playerTag = b.winner THEN 1 ELSE 0 END) as wins
    FROM cards c
    INNER JOIN deck_cards dc ON c.cardId = dc.cardId
    INNER JOIN battle_players bp ON dc.deckId = bp.deckId
    INNER JOIN battles b ON bp.battleId = b.battleId
    GROUP BY c.cardId
    '''
    df = query_db(query)
    
    df['win_rate'] = (df['wins'] / df['usage_count']) * 100
    return df

# Exemplo de uso:
print(card_usage_vs_win_rate())

   cardId    name     rarity  usage_count  wins   win_rate
0    C001   Card1  legendary           74    32  43.243243
1    C002   Card2  legendary           68    25  36.764706
2    C003   Card3       epic           86    42  48.837209
3    C004   Card4  legendary          102    45  44.117647
4    C005   Card5  legendary           88    43  48.863636
5    C006   Card6       rare           75    42  56.000000
6    C007   Card7       rare           78    40  51.282051
7    C008   Card8  legendary          100    56  56.000000
8    C009   Card9     common           98    57  58.163265
9    C010  Card10     common           96    57  59.375000
10   C011  Card11  legendary           94    41  43.617021
11   C012  Card12       rare           63    27  42.857143
12   C013  Card13       rare           59    34  57.627119
13   C014  Card14  legendary           77    35  45.454545
14   C015  Card15       epic           65    35  53.846154
15   C016  Card16       rare           63    29  46.031746
16   C017  Card17  legendary           71    39  54.929577
17   C018  Card18       rare           77    34  44.155844
18   C019  Card19       rare           72    38  52.777778
19   C020  Card20       rare           94    49  52.127660