In [1]:
import numpy as np
import pandas as pd
import random
from datetime import datetime, timedelta
import sqlite3
import os

In [2]:
def generate_id(prefix, num):
    return f"{prefix}{num:03d}"

def random_string(length):
    letters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    return ''.join(random.choice(letters) for i in range(length))

def query_db(query, params=()):
    conn = sqlite3.connect('clash_royale.db')
    df = pd.read_sql_query(query, conn, params=params)
    conn.close()
    return df

In [3]:
escala = 10
# Para cada grau desta escala são criados
# 4 players, 10 battles, 20 battleplayers, 20 decks, 160 deckcards
# Refiro-me, em cada um dos casos acima, a entidades distintas.
# O número de cartas distintas criadas é sempre 20

# Generate players
players = [
    {
        "playerTag": generate_id("PL", i),
        "name": f"Player{i}",
        "expLevel": random.randint(1, 13),
        "trophies": random.randint(0, 6000),
        "bestTrophies": random.randint(0, 6000),
        "wins": random.randint(0, 5000),
        "losses": random.randint(0, 5000),
        "battleCount": random.randint(0, 10000),
        "threeCrownWins": random.randint(0, 1000),
        "challengeCardsWon": random.randint(0, 1000),
        "challengeMaxWins": random.randint(0, 12),
        "tournamentCardsWon": random.randint(0, 1000),
        "tournamentBattleCount": random.randint(0, 1000),
        "role": random.choice(["member", "elder", "co-leader", "leader"]),
        "donations": random.randint(0, 5000),
        "donationsReceived": random.randint(0, 5000),
        "totalDonations": random.randint(0, 10000),
        "warDayWins": random.randint(0, 100),
        "clanCardsCollected": random.randint(0, 10000)
    }
    for i in range(1, escala * 4 + 1)
]

# Generate cards
cards = [
    {
        "cardId": generate_id("C", i),
        "name": f"Card{i}",
        "maxLevel": random.randint(1, 13),
        "iconUrl": f"http://example.com/card{i}.png",
        "rarity": random.choice(["common", "rare", "epic", "legendary"])
    }
    for i in range(1, 21) # escala * 20 + 1
]

# Generate decks
decks = [
    {
        "deckId": generate_id("D", i)
    }
    for i in range(1, escala * 20 + 1)
]

# Generate deck cards ensuring each deck has 8 unique cards
deck_cards = []
for deck in decks:
#     card_ids = random.sample([card["cardId"] for card in cards], 8)
    card_ids = list(np.random.choice([card["cardId"] for card in cards], 8, replace=True))
    for card_id in card_ids:
        deck_cards.append({
            "deckCardId": generate_id("DC", len(deck_cards) + 1),
            "deckId": deck["deckId"],
            "cardId": card_id,
            "cardLevel": random.randint(1, 13)
        })

# Generate battles
# Não escolhe ainda o vencedor.
battles = [
    {
        "battleId": generate_id("B", i),
        "battleTime": datetime.now() - timedelta(days=random.randint(0, 365)),
        "gameMode": random.choice(["1v1", "2v2"]),
        "deckSelection": random.choice(["predefined", "custom"]),
#         "winner": random.choice([f"PL{j:03d}" for j in range(1, escala * 4 + 1)]),
        "trophyChange": random.randint(-30, 30),
        "crowns": random.randint(0, 3),
        "arena": random.choice(["Training Camp", "Goblin Stadium", "Bone Pit", "Barbarian Bowl"])
    }
    for i in range(1, escala * 10 + 1)
]

# Generate battle players ensuring each battle has 2 players
battle_players = []
for battle in battles:
    for _ in range(2):
        player = random.choice(players)
        deck = random.choice(decks)
        battle_players.append({
            "battlePlayerId": generate_id("BP", len(battle_players) + 1),
            "battleId": battle["battleId"],
            "playerTag": player["playerTag"],
            "startingTrophies": random.randint(0, 6000),
            "crownsEarned": random.randint(0, 3),
            "kingTowerHitPoints": random.randint(0, 5000),
            "princessTowerHitPoints": f"{random.randint(0, 5000)},{random.randint(0, 5000)}",
            "clanName": f"Clan{random.randint(1, 10)}",
            "clanTag": random_string(5),
            "deckId": deck["deckId"]
        })
    battle['winner'] = random.choice([battle_players[-1]['playerTag'], battle_players[-2]['playerTag']])

# Apenas para facilitar visualização dos dados sintéticos criados:
df_players = pd.DataFrame(players)
df_cards = pd.DataFrame(cards)
df_decks = pd.DataFrame(decks)
df_deck_cards = pd.DataFrame(deck_cards)
df_battles = pd.DataFrame(battles)
df_battle_players = pd.DataFrame(battle_players)

In [4]:
# Esta célula cria o arquivo clash_royale.db com os dados sintéticos criados

# Primeiramente, apaga o arquivo clash_royale.db, caso existente, para criar um novo
if os.path.exists('clash_royale.db'):
    # Apaga o arquivo
    os.remove('clash_royale.db')

# Cria a conexão com o banco de dados
conn = sqlite3.connect('clash_royale.db')
cursor = conn.cursor()

# Cria as tabelas
cursor.execute('''
CREATE TABLE IF NOT EXISTS players (
    playerTag TEXT PRIMARY KEY,
    name TEXT,
    expLevel INTEGER,
    trophies INTEGER,
    bestTrophies INTEGER,
    wins INTEGER,
    losses INTEGER,
    battleCount INTEGER,
    threeCrownWins INTEGER,
    challengeCardsWon INTEGER,
    challengeMaxWins INTEGER,
    tournamentCardsWon INTEGER,
    tournamentBattleCount INTEGER,
    role TEXT,
    donations INTEGER,
    donationsReceived INTEGER,
    totalDonations INTEGER,
    warDayWins INTEGER,
    clanCardsCollected INTEGER
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS cards (
    cardId TEXT PRIMARY KEY,
    name TEXT,
    maxLevel INTEGER,
    iconUrl TEXT,
    rarity TEXT
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS decks (
    deckId TEXT PRIMARY KEY
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS deck_cards (
    deckCardId TEXT PRIMARY KEY,
    deckId TEXT,
    cardId TEXT,
    cardLevel INTEGER,
    FOREIGN KEY(deckId) REFERENCES decks(deckId),
    FOREIGN KEY(cardId) REFERENCES cards(cardId)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS battles (
    battleId TEXT PRIMARY KEY,
    battleTime TEXT,
    gameMode TEXT,
    deckSelection TEXT,
    winner TEXT,
    trophyChange INTEGER,
    crowns INTEGER,
    arena TEXT
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS battle_players (
    battlePlayerId TEXT PRIMARY KEY,
    battleId TEXT,
    playerTag TEXT,
    startingTrophies INTEGER,
    crownsEarned INTEGER,
    kingTowerHitPoints INTEGER,
    princessTowerHitPoints TEXT,
    clanName TEXT,
    clanTag TEXT,
    deckId TEXT,
    FOREIGN KEY(battleId) REFERENCES battles(battleId),
    FOREIGN KEY(playerTag) REFERENCES players(playerTag),
    FOREIGN KEY(deckId) REFERENCES decks(deckId)
)
''')

# Insere os dados nas tabelas
for player in players:
    cursor.execute('''
    INSERT INTO players VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''', tuple(player.values()))

for card in cards:
    cursor.execute('''
    INSERT INTO cards VALUES (?, ?, ?, ?, ?)
    ''', tuple(card.values()))

for deck in decks:
    cursor.execute('''
    INSERT INTO decks VALUES (?)
    ''', (deck['deckId'],))

for deck_card in deck_cards:
    cursor.execute('''
    INSERT INTO deck_cards VALUES (?, ?, ?, ?)
    ''', tuple(deck_card.values()))

for battle in battles:
    cursor.execute('''
    INSERT INTO battles VALUES (?, ?, ?, ?, ?, ?, ?, ?)
    ''', (
        battle['battleId'],
        battle['battleTime'].isoformat(),
        battle['gameMode'],
        battle['deckSelection'],
        battle['winner'],
        battle['trophyChange'],
        battle['crowns'],
        battle['arena']
    ))

for battle_player in battle_players:
    cursor.execute('''
    INSERT INTO battle_players VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''', tuple(battle_player.values()))

# Salva (commit) as mudanças e fecha a conexão com o banco de dados
conn.commit()
conn.close()

In [5]:
################################
####### TESTE DE QUERY 1 #######
################################

# Reabre a conexão com o banco de dados
conn = sqlite3.connect('clash_royale.db')
cursor = conn.cursor()

# Executa a consulta SQL
query = '''
SELECT *
FROM battle_players bp
INNER JOIN decks d ON bp.deckId = d.deckId;
'''
cursor.execute(query)

# Obtém os resultados da consulta
results = cursor.fetchall()

# Imprime os resultados
for row in results:
    print(row)

# Fecha a conexão com o banco de dados
conn.close()

('BP001', 'B001', 'PL010', 3695, 1, 4630, '2750,3127', 'Clan9', 'WYOXY', 'D027', 'D027')
('BP002', 'B001', 'PL023', 4534, 0, 4287, '858,2238', 'Clan4', 'CHGGO', 'D064', 'D064')
('BP003', 'B002', 'PL002', 778, 1, 1836, '2742,2268', 'Clan6', 'EZBBW', 'D152', 'D152')
('BP004', 'B002', 'PL031', 2905, 3, 961, '625,4708', 'Clan10', 'NTRJI', 'D168', 'D168')
('BP005', 'B003', 'PL035', 4793, 1, 4261, '3808,411', 'Clan1', 'SXKSY', 'D062', 'D062')
('BP006', 'B003', 'PL001', 169, 3, 4146, '3891,2877', 'Clan10', 'URILH', 'D012', 'D012')
('BP007', 'B004', 'PL009', 1670, 1, 854, '113,1624', 'Clan7', 'WEYPB', 'D041', 'D041')
('BP008', 'B004', 'PL001', 3182, 1, 4671, '3078,1420', 'Clan1', 'XRNUR', 'D179', 'D179')
('BP009', 'B005', 'PL022', 1637, 2, 389, '4954,4462', 'Clan2', 'VHGSM', 'D092', 'D092')
('BP010', 'B005', 'PL018', 3614, 2, 845, '834,7', 'Clan7', 'DUXJZ', 'D142', 'D142')
('BP011', 'B006', 'PL021', 2946, 2, 917, '4831,4205', 'Clan2', 'AKHVM', 'D169', 'D169')
('BP012', 'B006', 'PL021', 5011, 3, 1303, '2603,4625', 'Clan4', 'MYJNU', 'D018', 'D018')
('BP013', 'B007', 'PL004', 5030, 1, 1931, '2439,1560', 'Clan10', 'KHBDU', 'D050', 'D050')
('BP014', 'B007', 'PL038', 4796, 3, 216, '1502,4815', 'Clan2', 'ENMAD', 'D011', 'D011')
('BP015', 'B008', 'PL014', 5376, 2, 585, '1604,1067', 'Clan8', 'XHPTA', 'D167', 'D167')
('BP016', 'B008', 'PL023', 4647, 3, 585, '329,4042', 'Clan5', 'ESZOQ', 'D199', 'D199')
('BP017', 'B009', 'PL012', 3790, 3, 3360, '721,109', 'Clan6', 'VUSTT', 'D012', 'D012')
('BP018', 'B009', 'PL028', 3957, 3, 1271, '3458,1043', 'Clan10', 'HDOMX', 'D020', 'D020')
('BP019', 'B010', 'PL026', 1467, 3, 922, '778,3045', 'Clan10', 'LAWVE', 'D068', 'D068')
('BP020', 'B010', 'PL029', 2329, 2, 563, '2813,157', 'Clan9', 'RFJGP', 'D007', 'D007')
('BP021', 'B011', 'PL002', 5341, 2, 3781, '3139,3301', 'Clan10', 'HZIID', 'D087', 'D087')
('BP022', 'B011', 'PL004', 5180, 3, 3327, '4084,2776', 'Clan7', 'RXBSS', 'D005', 'D005')
('BP023', 'B012', 'PL031', 2743, 0, 4521, '632,3999', 'Clan1', 'IOHKK', 'D095', 'D095')
('BP024', 'B012', 'PL022', 2017, 0, 595, '1858,1192', 'Clan10', 'NTJKS', 'D092', 'D092')
('BP025', 'B013', 'PL014', 35, 1, 2635, '4839,2687', 'Clan7', 'XIFTI', 'D176', 'D176')
('BP026', 'B013', 'PL008', 3866, 2, 2326, '4788,3183', 'Clan2', 'WEONJ', 'D118', 'D118')
('BP027', 'B014', 'PL040', 1101, 1, 4588, '4329,4701', 'Clan4', 'ARELV', 'D157', 'D157')
('BP028', 'B014', 'PL040', 5264, 2, 278, '1275,2157', 'Clan8', 'DVAOT', 'D190', 'D190')
('BP029', 'B015', 'PL015', 2566, 2, 4248, '3580,1144', 'Clan4', 'MRAOX', 'D142', 'D142')
('BP030', 'B015', 'PL004', 2093, 0, 910, '2017,3340', 'Clan6', 'KDQAL', 'D031', 'D031')
('BP031', 'B016', 'PL027', 506, 3, 2716, '3936,4108', 'Clan8', 'ZRTTW', 'D079', 'D079')
('BP032', 'B016', 'PL006', 2711, 0, 4852, '4705,412', 'Clan4', 'RINFB', 'D155', 'D155')
('BP033', 'B017', 'PL005', 3057, 2, 1278, '4104,854', 'Clan8', 'XQQQT', 'D086', 'D086')
('BP034', 'B017', 'PL007', 1628, 3, 74, '4641,938', 'Clan6', 'NKKMX', 'D184', 'D184')
('BP035', 'B018', 'PL015', 3643, 1, 2186, '2156,4848', 'Clan10', 'MEHZJ', 'D010', 'D010')
('BP036', 'B018', 'PL017', 3087, 3, 293, '1589,3361', 'Clan1', 'NJNWZ', 'D062', 'D062')
('BP037', 'B019', 'PL016', 4619, 0, 4570, '3417,3436', 'Clan6', 'KZXSD', 'D015', 'D015')
('BP038', 'B019', 'PL001', 4454, 2, 3050, '2184,772', 'Clan1', 'FTGJV', 'D161', 'D161')
('BP039', 'B020', 'PL007', 4328, 0, 3111, '3317,988', 'Clan1', 'OKOPV', 'D075', 'D075')
('BP040', 'B020', 'PL016', 3619, 2, 855, '1222,2268', 'Clan8', 'VNSPH', 'D179', 'D179')
('BP041', 'B021', 'PL029', 200, 3, 1847, '3067,1963', 'Clan4', 'JOFJC', 'D131', 'D131')
('BP042', 'B021', 'PL023', 74, 0, 1089, '4777,346', 'Clan6', 'MSPXO', 'D180', 'D180')
('BP043', 'B022', 'PL023', 2039, 3, 513, '970,67', 'Clan4', 'HBXXC', 'D089', 'D089')
('BP044', 'B022', 'PL005', 1515, 2, 686, '4983,4142', 'Clan6', 'XAYJJ', 'D091', 'D091')
('BP045', 'B023', 'PL007', 2305, 1, 870, '1704,1539', 'Clan8', 'SEENH', 'D091', 'D091')
('BP046', 'B023', 'PL003', 5224, 3, 375, '1379,4012', 'Clan1', 'FOFOZ', 'D018', 'D018')
('BP047', 'B024', 'PL028', 159, 1, 3620, '2097,355', 'Clan6', 'UQCBY', 'D114', 'D114')
('BP048', 'B024', 'PL005', 4778, 2, 781, '12,1194', 'Clan5', 'CXJVR', 'D046', 'D046')
('BP049', 'B025', 'PL029', 1224, 0, 1909, '3236,3064', 'Clan3', 'AQDMM', 'D192', 'D192')
('BP050', 'B025', 'PL040', 4903, 0, 4044, '2706,1680', 'Clan8', 'IZSGU', 'D185', 'D185')
('BP051', 'B026', 'PL037', 2061, 2, 1350, '1164,2764', 'Clan3', 'XQVIL', 'D180', 'D180')
('BP052', 'B026', 'PL012', 3547, 1, 1700, '1771,2161', 'Clan1', 'XLLVT', 'D122', 'D122')
('BP053', 'B027', 'PL010', 1556, 1, 1238, '1829,3073', 'Clan10', 'SZSJL', 'D047', 'D047')
('BP054', 'B027', 'PL029', 1988, 2, 4986, '947,1073', 'Clan1', 'VTFKA', 'D037', 'D037')
('BP055', 'B028', 'PL016', 5731, 1, 195, '2484,4667', 'Clan9', 'KOPFJ', 'D109', 'D109')
('BP056', 'B028', 'PL020', 1544, 0, 570, '3928,0', 'Clan4', 'QCISK', 'D021', 'D021')
('BP057', 'B029', 'PL021', 2830, 3, 4652, '4419,1008', 'Clan9', 'SYWEE', 'D092', 'D092')
('BP058', 'B029', 'PL032', 2448, 2, 2921, '313,1486', 'Clan9', 'MMECP', 'D050', 'D050')
('BP059', 'B030', 'PL002', 492, 2, 2924, '1244,2799', 'Clan10', 'CWJOI', 'D168', 'D168')
('BP060', 'B030', 'PL010', 5542, 0, 2364, '2666,1431', 'Clan2', 'BJUDJ', 'D196', 'D196')
('BP061', 'B031', 'PL012', 4998, 3, 4094, '4328,3883', 'Clan8', 'ZSMGS', 'D145', 'D145')
('BP062', 'B031', 'PL004', 5133, 3, 396, '3157,3027', 'Clan10', 'KONTO', 'D111', 'D111')
('BP063', 'B032', 'PL017', 1915, 2, 3800, '1606,2099', 'Clan7', 'JPIMX', 'D034', 'D034')
('BP064', 'B032', 'PL006', 5804, 3, 4829, '1076,4397', 'Clan9', 'ZDOSJ', 'D162', 'D162')
('BP065', 'B033', 'PL030', 260, 3, 4416, '3766,1126', 'Clan5', 'PCSHF', 'D008', 'D008')
('BP066', 'B033', 'PL009', 2378, 3, 2558, '1881,3110', 'Clan2', 'KMETK', 'D152', 'D152')
('BP067', 'B034', 'PL002', 1407, 0, 1130, '3306,4038', 'Clan1', 'VLNNW', 'D148', 'D148')
('BP068', 'B034', 'PL006', 4609, 3, 4070, '622,4027', 'Clan9', 'PSKTB', 'D047', 'D047')
('BP069', 'B035', 'PL014', 1922, 1, 3582, '327,3074', 'Clan6', 'JOEDC', 'D100', 'D100')
('BP070', 'B035', 'PL013', 3468, 3, 3368, '2255,1912', 'Clan4', 'QUWEF', 'D086', 'D086')
('BP071', 'B036', 'PL037', 881, 3, 3688, '1329,1369', 'Clan10', 'OLGFP', 'D139', 'D139')
('BP072', 'B036', 'PL036', 5629, 3, 4619, '1559,702', 'Clan4', 'ZGFEG', 'D071', 'D071')
('BP073', 'B037', 'PL021', 250, 2, 1989, '1220,97', 'Clan4', 'MXNCN', 'D116', 'D116')
('BP074', 'B037', 'PL004', 918, 0, 4156, '3351,4662', 'Clan3', 'ARPKX', 'D025', 'D025')
('BP075', 'B038', 'PL037', 3471, 2, 18, '519,1544', 'Clan9', 'OJNYO', 'D089', 'D089')
('BP076', 'B038', 'PL039', 2025, 2, 1761, '3380,4004', 'Clan9', 'PEXJB', 'D109', 'D109')
('BP077', 'B039', 'PL003', 5784, 1, 1057, '2258,4418', 'Clan4', 'OJWPX', 'D064', 'D064')
('BP078', 'B039', 'PL029', 4953, 3, 692, '3062,1729', 'Clan1', 'ABIVZ', 'D023', 'D023')
('BP079', 'B040', 'PL030', 5789, 2, 3992, '3847,1306', 'Clan8', 'XSBNS', 'D167', 'D167')
('BP080', 'B040', 'PL028', 691, 3, 2184, '2325,3918', 'Clan9', 'KXHZI', 'D100', 'D100')
('BP081', 'B041', 'PL018', 3923, 3, 3224, '3465,1681', 'Clan6', 'RWWJV', 'D036', 'D036')
('BP082', 'B041', 'PL037', 600, 2, 2672, '3861,1122', 'Clan9', 'NIOUD', 'D074', 'D074')
('BP083', 'B042', 'PL023', 5371, 3, 491, '1704,1798', 'Clan10', 'HXMHT', 'D190', 'D190')
('BP084', 'B042', 'PL001', 4217, 2, 1196, '1385,2571', 'Clan10', 'KZLHT', 'D002', 'D002')
('BP085', 'B043', 'PL026', 4055, 0, 3315, '3794,164', 'Clan6', 'ZHBGY', 'D061', 'D061')
('BP086', 'B043', 'PL021', 4125, 3, 633, '2836,2193', 'Clan1', 'ZVIRM', 'D137', 'D137')
('BP087', 'B044', 'PL001', 1774, 3, 3549, '601,809', 'Clan3', 'ITTGP', 'D163', 'D163')
('BP088', 'B044', 'PL002', 4765, 3, 1584, '2497,665', 'Clan5', 'IAWHP', 'D172', 'D172')
('BP089', 'B045', 'PL003', 527, 3, 4588, '4996,695', 'Clan4', 'GRFWD', 'D145', 'D145')
('BP090', 'B045', 'PL013', 1685, 1, 746, '1331,4203', 'Clan6', 'RHLST', 'D055', 'D055')
('BP091', 'B046', 'PL011', 3131, 3, 3854, '2582,2040', 'Clan2', 'DZXNV', 'D183', 'D183')
('BP092', 'B046', 'PL026', 2165, 0, 944, '194,1721', 'Clan6', 'QSMBK', 'D031', 'D031')
('BP093', 'B047', 'PL029', 2591, 2, 633, '1681,4479', 'Clan6', 'RDDIC', 'D151', 'D151')
('BP094', 'B047', 'PL029', 2786, 2, 1160, '2845,3712', 'Clan9', 'RQMWI', 'D057', 'D057')
('BP095', 'B048', 'PL008', 1098, 1, 506, '4423,2991', 'Clan6', 'JYIMA', 'D131', 'D131')
('BP096', 'B048', 'PL033', 1862, 2, 1421, '731,2682', 'Clan5', 'MSZWX', 'D019', 'D019')
('BP097', 'B049', 'PL001', 2249, 3, 4811, '2927,2834', 'Clan8', 'YEASS', 'D131', 'D131')
('BP098', 'B049', 'PL016', 1438, 2, 3826, '2990,4135', 'Clan2', 'CBZAM', 'D168', 'D168')
('BP099', 'B050', 'PL006', 634, 0, 2303, '2344,3345', 'Clan5', 'FOZWQ', 'D178', 'D178')
('BP100', 'B050', 'PL036', 4702, 0, 1142, '699,4126', 'Clan5', 'ZXFUR', 'D197', 'D197')
('BP101', 'B051', 'PL035', 4127, 1, 2907, '2965,3702', 'Clan9', 'AWJOM', 'D137', 'D137')
('BP102', 'B051', 'PL007', 2908, 3, 755, '2299,2660', 'Clan3', 'LXQQF', 'D072', 'D072')
('BP103', 'B052', 'PL002', 2332, 2, 3949, '3776,1877', 'Clan6', 'BYIJT', 'D092', 'D092')
('BP104', 'B052', 'PL015', 2214, 3, 3051, '1120,1281', 'Clan10', 'WYBKF', 'D180', 'D180')
('BP105', 'B053', 'PL010', 2633, 1, 4362, '2143,3526', 'Clan9', 'FYJAV', 'D074', 'D074')
('BP106', 'B053', 'PL010', 823, 0, 2299, '2403,1915', 'Clan6', 'NWZZE', 'D154', 'D154')
('BP107', 'B054', 'PL006', 1843, 3, 63, '690,1862', 'Clan10', 'NFFPQ', 'D199', 'D199')
('BP108', 'B054', 'PL024', 5854, 3, 2580, '596,107', 'Clan7', 'OKBQX', 'D062', 'D062')
('BP109', 'B055', 'PL001', 4041, 1, 176, '4531,492', 'Clan7', 'VNKOF', 'D012', 'D012')
('BP110', 'B055', 'PL023', 2090, 3, 4008, '660,724', 'Clan2', 'QHGSP', 'D083', 'D083')
('BP111', 'B056', 'PL011', 3161, 3, 4070, '480,2002', 'Clan3', 'ETBKK', 'D051', 'D051')
('BP112', 'B056', 'PL038', 1620, 2, 3465, '1019,434', 'Clan4', 'ZWGKU', 'D050', 'D050')
('BP113', 'B057', 'PL029', 5978, 1, 2325, '4477,1281', 'Clan10', 'ADQHW', 'D195', 'D195')
('BP114', 'B057', 'PL037', 4216, 3, 3298, '752,3904', 'Clan1', 'LRALR', 'D070', 'D070')
('BP115', 'B058', 'PL007', 4063, 2, 4998, '2588,2119', 'Clan3', 'GHBCQ', 'D156', 'D156')
('BP116', 'B058', 'PL038', 4334, 1, 3620, '766,47', 'Clan2', 'ECLTY', 'D002', 'D002')
('BP117', 'B059', 'PL024', 4098, 3, 4424, '3167,2826', 'Clan8', 'PWPCY', 'D088', 'D088')
('BP118', 'B059', 'PL025', 177, 2, 507, '2726,1834', 'Clan1', 'UKVXX', 'D176', 'D176')
('BP119', 'B060', 'PL007', 1538, 0, 3514, '907,393', 'Clan1', 'KKRUO', 'D148', 'D148')
('BP120', 'B060', 'PL008', 5355, 1, 3859, '3367,1000', 'Clan6', 'ZPZGJ', 'D197', 'D197')
('BP121', 'B061', 'PL030', 2487, 0, 502, '2683,4297', 'Clan6', 'UTOVS', 'D059', 'D059')
('BP122', 'B061', 'PL001', 698, 0, 3286, '3086,2151', 'Clan10', 'TDMEM', 'D162', 'D162')
('BP123', 'B062', 'PL008', 5888, 3, 1297, '4689,2101', 'Clan3', 'UJFAB', 'D089', 'D089')
('BP124', 'B062', 'PL036', 1998, 3, 397, '2593,4912', 'Clan4', 'RKCOF', 'D069', 'D069')
('BP125', 'B063', 'PL018', 5236, 0, 2580, '735,1182', 'Clan3', 'KKNVI', 'D142', 'D142')
('BP126', 'B063', 'PL028', 4097, 1, 4659, '2778,430', 'Clan3', 'AFSDO', 'D053', 'D053')
('BP127', 'B064', 'PL016', 3885, 2, 3471, '4638,2167', 'Clan1', 'NBILP', 'D107', 'D107')
('BP128', 'B064', 'PL031', 2523, 3, 741, '3519,3821', 'Clan10', 'NRITU', 'D177', 'D177')
('BP129', 'B065', 'PL004', 4089, 1, 4971, '3550,4583', 'Clan3', 'WTMFI', 'D169', 'D169')
('BP130', 'B065', 'PL006', 3931, 3, 2506, '2251,4721', 'Clan7', 'VLFXY', 'D156', 'D156')
('BP131', 'B066', 'PL013', 5500, 2, 4045, '253,456', 'Clan8', 'HQPKU', 'D158', 'D158')
('BP132', 'B066', 'PL030', 3439, 1, 4493, '828,2755', 'Clan2', 'PPOUA', 'D018', 'D018')
('BP133', 'B067', 'PL028', 1509, 0, 4281, '2227,1885', 'Clan10', 'YBZPM', 'D102', 'D102')
('BP134', 'B067', 'PL028', 4324, 0, 3697, '322,163', 'Clan5', 'CGXBY', 'D093', 'D093')
('BP135', 'B068', 'PL013', 346, 2, 2663, '957,4662', 'Clan3', 'FXLKP', 'D087', 'D087')
('BP136', 'B068', 'PL034', 3217, 3, 3727, '4025,458', 'Clan2', 'VMAXK', 'D147', 'D147')
('BP137', 'B069', 'PL017', 631, 3, 3921, '3618,3938', 'Clan8', 'PXDKM', 'D150', 'D150')
('BP138', 'B069', 'PL019', 1339, 2, 3548, '1069,3099', 'Clan7', 'KHGJL', 'D108', 'D108')
('BP139', 'B070', 'PL038', 2632, 3, 1337, '4062,516', 'Clan3', 'LEEXQ', 'D189', 'D189')
('BP140', 'B070', 'PL020', 3321, 0, 3449, '2686,913', 'Clan5', 'GCKUJ', 'D181', 'D181')
('BP141', 'B071', 'PL022', 1834, 3, 2719, '1771,3583', 'Clan8', 'HDKMV', 'D066', 'D066')
('BP142', 'B071', 'PL014', 5739, 0, 2506, '470,4949', 'Clan2', 'BAJTY', 'D159', 'D159')
('BP143', 'B072', 'PL021', 5604, 1, 4579, '2989,884', 'Clan3', 'VDMWN', 'D056', 'D056')
('BP144', 'B072', 'PL005', 4892, 3, 4570, '3074,3292', 'Clan6', 'KZQAR', 'D079', 'D079')
('BP145', 'B073', 'PL027', 3321, 2, 3522, '2597,4920', 'Clan6', 'ZHSXY', 'D126', 'D126')
('BP146', 'B073', 'PL021', 3578, 3, 4888, '2713,3353', 'Clan3', 'YYZGP', 'D164', 'D164')
('BP147', 'B074', 'PL008', 1547, 1, 4978, '3155,1471', 'Clan3', 'ALKOW', 'D143', 'D143')
('BP148', 'B074', 'PL026', 656, 3, 4935, '4517,2630', 'Clan7', 'KNMXY', 'D003', 'D003')
('BP149', 'B075', 'PL026', 4269, 1, 1748, '1963,998', 'Clan8', 'MJAKL', 'D120', 'D120')
('BP150', 'B075', 'PL004', 3004, 1, 3603, '2472,3688', 'Clan2', 'HSEKP', 'D144', 'D144')
('BP151', 'B076', 'PL001', 1649, 3, 3996, '2069,4621', 'Clan9', 'KSUEK', 'D144', 'D144')
('BP152', 'B076', 'PL039', 5948, 0, 221, '2137,244', 'Clan9', 'VEDTK', 'D145', 'D145')
('BP153', 'B077', 'PL024', 4998, 3, 254, '1000,3895', 'Clan10', 'MBNSO', 'D064', 'D064')
('BP154', 'B077', 'PL011', 546, 2, 3888, '2036,1933', 'Clan9', 'AIXEM', 'D017', 'D017')
('BP155', 'B078', 'PL039', 1207, 1, 2506, '3651,1979', 'Clan6', 'XGMHP', 'D011', 'D011')
('BP156', 'B078', 'PL009', 2991, 2, 2578, '1311,208', 'Clan1', 'QVBVW', 'D144', 'D144')
('BP157', 'B079', 'PL033', 4550, 2, 919, '973,1546', 'Clan9', 'QJUFQ', 'D186', 'D186')
('BP158', 'B079', 'PL024', 477, 2, 2056, '3617,2861', 'Clan3', 'UQDNC', 'D125', 'D125')
('BP159', 'B080', 'PL033', 131, 1, 2655, '3812,3162', 'Clan4', 'VBKIQ', 'D071', 'D071')
('BP160', 'B080', 'PL010', 1437, 3, 4726, '3339,3569', 'Clan3', 'XQLDH', 'D019', 'D019')
('BP161', 'B081', 'PL030', 5785, 0, 706, '1394,1621', 'Clan8', 'KIYPO', 'D050', 'D050')
('BP162', 'B081', 'PL016', 1406, 0, 4295, '2242,361', 'Clan1', 'HFNTP', 'D033', 'D033')
('BP163', 'B082', 'PL025', 1214, 1, 3116, '258,913', 'Clan6', 'DTWFZ', 'D119', 'D119')
('BP164', 'B082', 'PL019', 746, 1, 1973, '467,889', 'Clan5', 'HEHZC', 'D056', 'D056')
('BP165', 'B083', 'PL008', 3788, 0, 1730, '4947,2058', 'Clan10', 'OSKVC', 'D037', 'D037')
('BP166', 'B083', 'PL003', 5199, 1, 1932, '2877,4727', 'Clan10', 'QXQFI', 'D154', 'D154')
('BP167', 'B084', 'PL001', 5967, 0, 2036, '2265,2959', 'Clan8', 'SCHNU', 'D073', 'D073')
('BP168', 'B084', 'PL007', 5233, 0, 3372, '1423,1637', 'Clan2', 'MIFUD', 'D102', 'D102')
('BP169', 'B085', 'PL021', 5265, 0, 652, '821,469', 'Clan6', 'UBVCA', 'D027', 'D027')
('BP170', 'B085', 'PL021', 5189, 2, 1907, '2165,4757', 'Clan10', 'LXJWY', 'D080', 'D080')
('BP171', 'B086', 'PL007', 5785, 3, 3977, '3108,3624', 'Clan7', 'VEKYC', 'D065', 'D065')
('BP172', 'B086', 'PL011', 4026, 1, 2190, '423,183', 'Clan8', 'AYKSX', 'D032', 'D032')
('BP173', 'B087', 'PL016', 5436, 3, 1895, '4045,4420', 'Clan9', 'BQFKT', 'D076', 'D076')
('BP174', 'B087', 'PL023', 192, 1, 2124, '2524,2551', 'Clan3', 'ASRMC', 'D110', 'D110')
('BP175', 'B088', 'PL022', 3256, 0, 3296, '2818,3802', 'Clan4', 'KTMBF', 'D082', 'D082')
('BP176', 'B088', 'PL026', 1256, 2, 4737, '3731,795', 'Clan6', 'NNKAQ', 'D139', 'D139')
('BP177', 'B089', 'PL006', 2916, 2, 1107, '1305,4552', 'Clan10', 'DASWH', 'D010', 'D010')
('BP178', 'B089', 'PL014', 5321, 1, 365, '4374,4207', 'Clan5', 'DYQYE', 'D119', 'D119')
('BP179', 'B090', 'PL006', 5378, 3, 1329, '3279,4292', 'Clan8', 'CGURQ', 'D154', 'D154')
('BP180', 'B090', 'PL034', 1951, 2, 2075, '4933,313', 'Clan8', 'UTOVT', 'D125', 'D125')
('BP181', 'B091', 'PL024', 3676, 0, 2658, '33,2825', 'Clan6', 'CABTR', 'D056', 'D056')
('BP182', 'B091', 'PL008', 2585, 3, 4686, '3959,4593', 'Clan5', 'KUOKG', 'D079', 'D079')
('BP183', 'B092', 'PL001', 4280, 1, 441, '2142,711', 'Clan6', 'JMQON', 'D193', 'D193')
('BP184', 'B092', 'PL005', 4536, 0, 4430, '237,4381', 'Clan2', 'JLRCY', 'D148', 'D148')
('BP185', 'B093', 'PL011', 1276, 2, 126, '417,3138', 'Clan9', 'OYFHC', 'D084', 'D084')
('BP186', 'B093', 'PL011', 4303, 3, 3137, '1871,4666', 'Clan8', 'VRQVS', 'D157', 'D157')
('BP187', 'B094', 'PL012', 2031, 0, 3249, '1746,907', 'Clan3', 'AWKKW', 'D004', 'D004')
('BP188', 'B094', 'PL011', 2194, 1, 2708, '2562,3833', 'Clan5', 'HJFJO', 'D030', 'D030')
('BP189', 'B095', 'PL017', 630, 1, 145, '1526,2844', 'Clan2', 'PPKQA', 'D099', 'D099')
('BP190', 'B095', 'PL026', 555, 0, 538, '721,3127', 'Clan7', 'DDVZZ', 'D174', 'D174')
('BP191', 'B096', 'PL008', 3468, 0, 4183, '7,1992', 'Clan8', 'FSBXI', 'D142', 'D142')
('BP192', 'B096', 'PL036', 5520, 0, 1993, '1461,3674', 'Clan3', 'WTIWA', 'D125', 'D125')
('BP193', 'B097', 'PL028', 2979, 2, 636, '4688,672', 'Clan5', 'LZKFI', 'D129', 'D129')
('BP194', 'B097', 'PL020', 35, 2, 4262, '4065,62', 'Clan5', 'OKBOY', 'D170', 'D170')
('BP195', 'B098', 'PL038', 3367, 1, 4238, '2295,1652', 'Clan9', 'HXLLF', 'D066', 'D066')
('BP196', 'B098', 'PL022', 5651, 1, 615, '2183,3840', 'Clan9', 'LTVKI', 'D160', 'D160')
('BP197', 'B099', 'PL006', 3182, 3, 3933, '4573,4754', 'Clan3', 'GOQUI', 'D009', 'D009')
('BP198', 'B099', 'PL014', 1393, 3, 3878, '513,741', 'Clan6', 'HQGXB', 'D169', 'D169')
('BP199', 'B100', 'PL024', 4872, 2, 4774, '1573,3964', 'Clan8', 'BJWDB', 'D115', 'D115')
('BP200', 'B100', 'PL033', 2075, 0, 4131, '3983,1871', 'Clan3', 'YGQOI', 'D126', 'D126')

In [6]:
################################
####### TESTE DE QUERY 2 #######
################################

# Função para obter deck_cards associados a um battle_player específico
def get_deck_cards_for_battle_player(battlePlayerId):
    # Reabre a conexão com o banco de dados
    conn = sqlite3.connect('clash_royale.db')
    cursor = conn.cursor()

    # Consulta SQL
    query = '''
    SELECT dc.*
    FROM battle_players bp
    INNER JOIN decks d ON bp.deckId = d.deckId
    INNER JOIN deck_cards dc ON d.deckId = dc.deckId
    WHERE bp.battlePlayerId = ?;
    '''

    # Executa a consulta com o battlePlayerId especificado
    cursor.execute(query, (battlePlayerId,))
    results = cursor.fetchall()

    # Fecha a conexão com o banco de dados
    conn.close()

    return results

# Exemplo de uso da função
battlePlayerId = 'BP001'  # Substitua pelo battlePlayerId desejado
deck_cards = get_deck_cards_for_battle_player(battlePlayerId)

# Imprime os resultados
for deck_card in deck_cards:
    print(deck_card)

('DC209', 'D027', 'C004', 13)
('DC210', 'D027', 'C012', 8)
('DC211', 'D027', 'C014', 11)
('DC212', 'D027', 'C018', 13)
('DC213', 'D027', 'C015', 13)
('DC214', 'D027', 'C005', 8)
('DC215', 'D027', 'C002', 4)
('DC216', 'D027', 'C009', 13)

<h3>Tarefa 1: Calcular a porcentagem de vitórias e derrotas utilizando a carta X em um intervalo de timestamps</h3>

In [36]:
def win_loss_percentage_with_card(card_id, start_time, end_time):
    query = '''
    SELECT bp.playerTag, b.winner
    FROM battle_players bp
    INNER JOIN battles b ON bp.battleId = b.battleId
    INNER JOIN deck_cards dc ON bp.deckId = dc.deckId
    WHERE dc.cardId = ? AND b.battleTime BETWEEN ? AND ?
    '''
    df = query_db(query, (card_id, start_time, end_time))

    total_battles = len(df)
    if total_battles == 0:
        return {"win_percentage": 0, "loss_percentage": 0}

    wins = df[df['playerTag'] == df['winner']].shape[0]
    losses = total_battles - wins

    win_percentage = (wins / total_battles) * 100
    loss_percentage = (losses / total_battles) * 100

    return {"win_percentage": win_percentage, "loss_percentage": loss_percentage}

# Exemplo de uso:
card_id = 'C001'
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'
print(win_loss_percentage_with_card(card_id, start_time, end_time))

{'win_percentage': 41.75824175824176, 'loss_percentage': 58.24175824175825}

<h3>Tarefa 2: Listar os decks completos que produziram mais de X% de vitórias em um intervalo de timestamps</h3>

In [8]:
def decks_with_high_win_rate(win_rate_threshold, start_time, end_time):
    query = '''
    SELECT bp.deckId, COUNT(*) as total_battles,
           SUM(CASE WHEN bp.playerTag = b.winner THEN 1 ELSE 0 END) as wins
    FROM battle_players bp
    INNER JOIN battles b ON bp.battleId = b.battleId
    WHERE b.battleTime BETWEEN ? AND ?
    GROUP BY bp.deckId
    HAVING (wins * 1.0 / total_battles) * 100 > ?
    '''
    df = query_db(query, (start_time, end_time, win_rate_threshold))
    return df

# Exemplo de uso:
win_rate_threshold = 50  # decks com mais de 50% de vitórias
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'
print(decks_with_high_win_rate(win_rate_threshold, start_time, end_time))

   deckId  total_battles  wins
0    D002              2     2
1    D008              1     1
2    D010              2     2
3    D012              3     2
4    D018              3     2
..    ...            ...   ...
56   D178              1     1
57   D185              1     1
58   D189              1     1
59   D195              1     1
60   D199              2     2

[61 rows x 3 columns]

<h3>Tarefa 3: Calcular a quantidade de derrotas utilizando um combo de cartas em um intervalo de timestamps</h3>

In [34]:
def losses_with_card_combo(card_ids, start_time, end_time):
    card_placeholders = ', '.join('?' for _ in card_ids)
    query = f'''
    SELECT bp.battleId, COUNT(DISTINCT dc.cardId) as card_count
    FROM battle_players bp
    INNER JOIN battles b ON bp.battleId = b.battleId
    INNER JOIN deck_cards dc ON bp.deckId = dc.deckId
    WHERE dc.cardId IN ({card_placeholders}) AND b.battleTime BETWEEN ? AND ?
    GROUP BY bp.battleId
    HAVING card_count = ?
    '''
    df = query_db(query, (*card_ids, start_time, end_time, len(card_ids)))

    total_battles = len(df)
    losses = total_battles - df[df['battleId'].isin(df['battleId'])].shape[0]

    return {"losses": losses}

# Exemplo de uso:
card_ids = ['C001', 'C002']
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'
print(losses_with_card_combo(card_ids, start_time, end_time))

{'losses': 0}

<h3>Tarefa 4: Calcular a quantidade de vitórias envolvendo a carta X onde o vencedor possui Z% menos troféus que o perdedor, a partida durou menos de 2 minutos, e o perdedor derrubou ao menos duas torres</h3>

In [10]:
def wins_with_card_under_conditions(card_id, trophy_diff_percentage, start_time, end_time):
    query = '''
    SELECT bp.battleId, bp.playerTag, bp.startingTrophies, b.winner, b.battleTime,
           (bp.kingTowerHitPoints + bp.princessTowerHitPoints) as totalHitPoints
    FROM battle_players bp
    INNER JOIN battles b ON bp.battleId = b.battleId
    INNER JOIN deck_cards dc ON bp.deckId = dc.deckId
    WHERE dc.cardId = ? AND b.battleTime BETWEEN ? AND ? AND totalHitPoints < 2
    '''
    df = query_db(query, (card_id, start_time, end_time))
    
    # Filtrando as condições adicionais
    filtered_df = df[(df['winner'] == df['playerTag']) & 
                     ((df['startingTrophies'] * (1 - trophy_diff_percentage / 100)) > df['startingTrophies']) & 
                     (pd.to_datetime(df['battleTime']) - pd.to_datetime(df['battleTime']) < pd.Timedelta(minutes=2))]
    
    wins = filtered_df.shape[0]
    
    return {"wins": wins}

# Exemplo de uso:
card_id = 'C001'
trophy_diff_percentage = 20
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'
print(wins_with_card_under_conditions(card_id, trophy_diff_percentage, start_time, end_time))

{'wins': 0}

<h3>Tarefa 5: Listar o combo de cartas de tamanho N que produziram mais de Y% de vitórias em um intervalo de timestamps</h3>

In [17]:
def card_combos_with_high_win_rate(combo_size, win_rate_threshold, start_time, end_time):
    query = f'''
    SELECT bp.deckId, dc.cardId, COUNT(*) as total_battles,
           SUM(CASE WHEN bp.playerTag = b.winner THEN 1 ELSE 0 END) as wins
    FROM battle_players bp
    INNER JOIN battles b ON bp.battleId = b.battleId
    INNER JOIN deck_cards dc ON bp.deckId = dc.deckId
    WHERE b.battleTime BETWEEN ? AND ?
    GROUP BY bp.deckId, dc.cardId
    HAVING COUNT(DISTINCT dc.cardId) = ? AND (wins * 1.0 / total_battles) * 100 > ?
    '''
    df = query_db(query, (start_time, end_time, combo_size, win_rate_threshold))
    return df

# Exemplo de uso:
combo_size = 2
win_rate_threshold = 50  # combos com mais de 50% de vitórias
start_time = '2023-01-01T00:00:00'
end_time = '2024-12-31T23:59:59'
print(card_combos_with_high_win_rate(combo_size, win_rate_threshold, start_time, end_time))

Empty DataFrame
Columns: [deckId, cardId, total_battles, wins]
Index: []

<h3>Consultas adicionais I - Taxa de vitórias por raridade da carta</h3>
<p><i>Nesta consulta analisaremos o desempenho de cartas de diferentes raridades (comum, rara, épica, lendária) em todas as batalhas. A proposta é auxiliar a identificar se cartas de raridades específicas apresentam desempenho superior ou inferior.</i></p>

In [12]:
def win_rate_by_rarity():
    query = '''
    SELECT c.rarity, COUNT(*) as total_battles,
           SUM(CASE WHEN bp.playerTag = b.winner THEN 1 ELSE 0 END) as wins
    FROM cards c
    INNER JOIN deck_cards dc ON c.cardId = dc.cardId
    INNER JOIN battle_players bp ON dc.deckId = bp.deckId
    INNER JOIN battles b ON bp.battleId = b.battleId
    GROUP BY c.rarity
    '''
    df = query_db(query)
    
    df['win_rate'] = (df['wins'] / df['total_battles']) * 100
    return df

# Exemplo de uso:
print(win_rate_by_rarity())

      rarity  total_battles  wins   win_rate
0     common            538   276  51.301115
1       epic            425   239  56.235294
2  legendary            478   265  55.439331
3       rare            159    76  47.798742

<h3>Consultas adicionais II - Análise de diversidade de decks</h3>
<p><i>Nesta consulta examinaremos a variedade dos decks utilizados em partidas com alta taxa de troféus. A baixa diversidade de cartas no deck pode ser um indício de que certas combinações se tornam muito poderosas e precisam de equilíbrio.</i></p>

In [13]:
def deck_diversity(high_trophy_threshold):
    query = '''
    SELECT bp.deckId, COUNT(DISTINCT dc.cardId) as unique_cards
    FROM battle_players bp
    INNER JOIN deck_cards dc ON bp.deckId = dc.deckId
    INNER JOIN players p ON bp.playerTag = p.playerTag
    WHERE p.trophies > ?
    GROUP BY bp.deckId
    '''
    df = query_db(query, (high_trophy_threshold,))
    
    return df

# Exemplo de uso:
high_trophy_threshold = 5000  # Ajuste este valor conforme necessário
print(deck_diversity(high_trophy_threshold))

   deckId  unique_cards
0    D002             6
1    D011             7
2    D012             7
3    D019             5
4    D027             8
5    D037             5
6    D041             6
7    D046             8
8    D047             8
9    D064             6
10   D073             8
11   D074             7
12   D079             6
13   D083             7
14   D086             7
15   D089             6
16   D091             7
17   D109             7
18   D110             8
19   D118             5
20   D131             6
21   D142             6
22   D143             8
23   D144             6
24   D145             6
25   D148             8
26   D152             4
27   D154             7
28   D161             6
29   D162             7
30   D163             5
31   D179             7
32   D180             5
33   D190             6
34   D193             8
35   D196             6
36   D197             6
37   D199             6

<h3>Consultas adicionais III - Taxa de uso do card vs taxa de vitórias</h3>
<p><i>Nesta consulta compararemos a frequência de uso de um card com sua taxa de ganho. Cards com altas taxas de utilização mas com baixas taxas de ganho podem ser consideradas mais fortes do que realmente são, enquanto cards com baixas taxas de utilização mas altas taxas de vitórias podem ser subvalorizados. </i></p>

In [14]:
def card_usage_vs_win_rate():
    query = '''
    SELECT c.cardId, c.name, c.rarity,
           COUNT(*) as usage_count,
           SUM(CASE WHEN bp.playerTag = b.winner THEN 1 ELSE 0 END) as wins
    FROM cards c
    INNER JOIN deck_cards dc ON c.cardId = dc.cardId
    INNER JOIN battle_players bp ON dc.deckId = bp.deckId
    INNER JOIN battles b ON bp.battleId = b.battleId
    GROUP BY c.cardId
    '''
    df = query_db(query)
    
    df['win_rate'] = (df['wins'] / df['usage_count']) * 100
    return df

# Exemplo de uso:
print(card_usage_vs_win_rate())

   cardId    name     rarity  usage_count  wins   win_rate
0    C001   Card1  legendary           91    38  41.758242
1    C002   Card2       epic           85    52  61.176471
2    C003   Card3  legendary           77    48  62.337662
3    C004   Card4  legendary           90    44  48.888889
4    C005   Card5     common           85    45  52.941176
5    C006   Card6       epic           63    32  50.793651
6    C007   Card7  legendary           73    46  63.013699
7    C008   Card8     common           94    43  45.744681
8    C009   Card9       epic           99    57  57.575758
9    C010  Card10       rare           87    47  54.022989
10   C011  Card11     common           75    34  45.333333
11   C012  Card12       epic           84    39  46.428571
12   C013  Card13     common           59    33  55.932203
13   C014  Card14     common           70    40  57.142857
14   C015  Card15  legendary           77    42  54.545455
15   C016  Card16       rare           72    29  40.277778
16   C017  Card17     common           91    48  52.747253
17   C018  Card18       epic           94    59  62.765957
18   C019  Card19  legendary           70    47  67.142857
19   C020  Card20     common           64    33  51.562500